
<div class="arr-layout" data-section="arrangement">
	<div class="box-body row-overview">
		<div class="hotspot"></div>
	</div>
	<div class="row-ruler">
		<div class="col-clips">
			<div class="ruler-body">
				<ul class="beat-ruler">
					<li>1</li>
					<li>5</li>
					<li>9</li>
					<li>13</li>
					<li>17</li>
					<li>21</li>
					<li>25</li>
					<li>29</li>
					<li>33</li>
				</ul>
			</div>
			<div class="box-body">
				<div class="loop-span"></div>
			</div>
		</div>
		<div class="col-mixers">
			
		</div>
	</div>
	<div class="row-track" data-click="select-clip">
		<div class="col-clips">
			<div class="box-body">
				<!-- arrangement lane clips goes here -->
				<div class="play-head"></div>
				<div class="edit-cursor"></div>
				<div class="selection"></div>
			</div>
		</div>
		<div class="col-mixers">
			<div class="box-body">
				<!-- arrangement lane mixers goes here -->
			</div>
		</div>
	</div>
	<div class="row-outputs" data-select="select-lane">
		<div class="col-clips">
			<div class="box-body">
				<!-- i/o track lanes goes here -->
			</div>
		</div>
		<div class="col-mixers">
			<div class="box-body">
				<!-- i/o track mixers goes here -->
			</div>
		</div>
	</div>
</div>
