
<div class="arr-layout">
	<div class="box-body row-overview">
		<div class="hotspot"></div>
	</div>
	<div class="row-ruler">
		<div class="col-clips">
			<div class="box-body">
				<div class="loop-span"></div>
			</div>
		</div>
		<div class="col-mixers">
			
		</div>
	</div>
	<div class="row-track">
		<div class="col-clips">
			<div class="box-body">
				<div class="time-cursor"></div>
				<div class="channel"></div>
				<div class="channel" style="--c: #77c;">

					<b style="--l: 12; --d: 8;">Clip 1</b>

				</div>
				<div class="channel" style="--c: #4a4;">
					
					<b style="--l: 16; --d: 12;">Clip 2</b>
					
				</div>
				<div class="channel collapsed"></div>
			</div>
		</div>
		<div class="col-mixers">
			<div class="box-body">
				<div class="channel">
					@import "arr-channel-mixer.htm"
				</div>
				<div class="channel" style="--c: #77c;">
					@import "arr-channel-mixer.htm"
				</div>
				<div class="channel" style="--c: #4a4;">
					@import "arr-channel-mixer.htm"
				</div>
				<div class="channel collapsed">
					@import "arr-channel-mixer.htm"
				</div>
			</div>
		</div>
	</div>
	<div class="row-outputs">
		<div class="col-clips">
			<div class="box-body"></div>
		</div>
		<div class="col-mixers">
			<div class="box-body"></div>
		</div>
	</div>
</div>
