
<div class="arr-layout" data-section="arrangement">
	<div class="box-body row-overview">
		<div class="hotspot"></div>
	</div>
	<div class="row-ruler">
		<div class="col-clips">
			<div class="box-body">
				<div class="loop-span"></div>
			</div>
		</div>
		<div class="col-mixers">
			
		</div>
	</div>
	<div class="row-track" data-click="select-channel">
		<div class="col-clips">
			<div class="box-body">
				<div class="channel">
					
					<b style="--l: 16; --d: 8;"><i>Clip 1</i></b>
					
				</div>
				<div class="channel collapsed" style="--c: #77c;">

					<b style="--l: 12; --d: 8;"><i>Clip 1</i></b>

				</div>
				<div class="channel" style="--c: #4a4;">
					
					<b style="--l: 16; --d: 12;"><i>Clip 2</i></b>
					
				</div>
				<div class="channel collapsed" style="--c: #c70;">
					
					<b style="--l: 4; --d: 9;"><i>Clip 3</i></b>

				</div>
				
				<div class="time-cursor"></div>
				<div class="selection"></div>
			</div>
		</div>
		<div class="col-mixers">
			<div class="box-body">
				<div class="channel">
					@import "arr-channel-mixer.htm"
				</div>
				<div class="channel collapsed" style="--c: #77c;">
					@import "arr-channel-mixer.htm"
				</div>
				<div class="channel" style="--c: #4a4;">
					@import "arr-channel-mixer.htm"
				</div>
				<div class="channel collapsed" style="--c: #c70;">
					@import "arr-channel-mixer.htm"
				</div>
			</div>
		</div>
	</div>
	<div class="row-outputs">
		<div class="col-clips">
			<div class="box-body"></div>
		</div>
		<div class="col-mixers">
			<div class="box-body"></div>
		</div>
	</div>
</div>
