
<div class="rack-body">
	<div class="rack-head">
		<i class="icon-blank"></i> AM Synth
	</div>
	<div class="box-body">
		
		<div class="synth-controls">
			<ul class="col-4 controls">
				<li>
					<span class="ctrl-name">Detune</span>
					<div class="knob ctrl-knob" data-value="23" data-min="1" data-max="100"></div>
					<span class="ctrl-value">23</span>
				</li>
				<li>
					<span class="ctrl-name">Attack</span>
					<div class="knob ctrl-knob" data-value="3" data-min="0" data-max="7"></div>
					<span class="ctrl-value">26</span>
				</li>
				<li>
					<span class="ctrl-name">Release</span>
					<div class="knob ctrl-knob" data-value="3" data-min="0" data-max="7"></div>
					<span class="ctrl-value">6%</span>
				</li>
				<li>
					<span class="ctrl-name">Modulation Attack</span>
					<div class="knob ctrl-knob" data-value="3" data-min="0" data-max="7"></div>
					<span class="ctrl-value">26</span>
				</li>
				<li>
					<span class="ctrl-name">Modulation Release</span>
					<div class="knob ctrl-knob" data-value="3" data-min="0" data-max="7"></div>
					<span class="ctrl-value">6%</span>
				</li>
				<li>
					<span class="ctrl-name">Pitch Decay</span>
					<div class="knob ctrl-knob" data-value="3" data-min="0" data-max="7"></div>
					<span class="ctrl-value">0.75s</span>
				</li>
				<li>
					<span class="ctrl-name">Glide</span>
					<div class="knob ctrl-knob" data-value="3" data-min="0" data-max="5"></div>
					<span class="ctrl-value">0.21s</span>
				</li>
				<li>
					<span class="ctrl-name">Volume</span>
					<div class="knob ctrl-knob" data-value="50" data-min="0" data-max="100"></div>
					<span class="ctrl-value">3 dB</span>
				</li>

				context : BaseContext
				modulation : OmniOscillatorSynthOptions
				oscillator : OmniOscillatorSynthOptions
				onsilence : onSilenceCallback
				harmonicity : Positive
				
			</ul>
		</div>

	</div>
</div>
