
<div class="rack-body">
	<div class="rack-head">
		<i class="icon-blank"></i> Amplitude Envelope
	</div>
	<div class="box-body">
		<div class="envelope-display">
			<div class="graph has-values">
				<svg viewBox="0 0 300 105">
					<path class="st0" d="M4,101C4,46,19,5,87,5c0,48,48,48,88,48c0,0,42,0,65,0c0,48,92,48,55,48"/>
					<rect x="85" y="3" class="st1" width="4" height="4"/>
					<rect x="191" y="51" class="st1" width="5" height="5"/>
					<rect x="293" y="99" class="st1" width="5" height="5"/>
				</svg>
			</div>
			<div class="controls">
				<div>
					<label>Attack</label>
					<div class="knob2" data-value="49"></div>
					<span>49.3 ms</span>
				</div>

				<div>
					<label>Decay</label>
					<div class="knob2" data-value="35"></div>
					<span>35.5 s</span>
				</div>

				<div>
					<label>Sustaain</label>
					<div class="knob2" data-value="17"></div>
					<span>17 dB</span>
				</div>

				<div>
					<label>Release</label>
					<div class="knob2" data-value="18"></div>
					<span>18.3 ms</span>
				</div>

				<div>
					<label>Volume</label>
					<div class="knob2" data-value="67"></div>
					<span>-8.00 dB</span>
				</div>
			</div>
		</div>
	</div>
</div>
