
<div class="rack-body" data-section="drumkit">
	<div class="rack-head">
		<i class="icon-blank"></i> 909 Core Kit
	</div>
	<div class="box-body">
		
		<div class="drum-control">
			<ul class="col-4 controls">
				<li>
					<span class="ctrl-name">DrBus Amount</span>
					<div class="knob ctrl-knob" data-value="23"></div>
					<span class="ctrl-value">23%</span>
				</li>
				<li>
					<span class="ctrl-name">DrBus Drive</span>
					<div class="knob ctrl-knob" data-value="14"></div>
					<span class="ctrl-value">14</span>
				</li>
				<li>
					<span class="ctrl-name">DrBus Transien</span>
					<div class="knob ctrl-knob" data-value="42"></div>
					<span class="ctrl-value">42</span>
				</li>
				<li>
					<span class="ctrl-name">Comp Amount</span>
					<div class="knob ctrl-knob" data-value="42"></div>
					<span class="ctrl-value">46</span>
				</li>
				<li>
					<span class="ctrl-name">Low Gain</span>
					<div class="knob ctrl-knob" data-value="0"></div>
					<span class="ctrl-value">0.00 dB</span>
				</li>
				<li>
					<span class="ctrl-name">Mid Gain</span>
					<div class="knob ctrl-knob" data-value="0"></div>
					<span class="ctrl-value">0.00 dB</span>
				</li>
				<li>
					<span class="ctrl-name">Mid Freq</span>
					<div class="knob ctrl-knob" data-value="50"></div>
					<span class="ctrl-value">316 Hz</span>
				</li>
				<li>
					<span class="ctrl-name">Hi Gain</span>
					<div class="knob ctrl-knob" data-value="50"></div>
					<span class="ctrl-value">0.21</span>
				</li>
			</ul>
		</div>

		<div class="pads">
			<div class="pad-matrix">
				<div class="cursor"></div>
			</div>
			<div class="pads-wrapper">
				<!-- drum pads goes here -->
			</div>
		</div>
	</div>
</div>

