
<div class="sidebar show-drums">
	<div class="box-3d">
		<div class="sounds-body">
			<div class="box-title">Sounds</div>
			<div class="box-body tree" data-click="do-tree-leaf">
				<!-- Sounds list goes here -->

				<!-- <div class="leaf">
					<i class="icon-folder"></i>
					<span>Piano &amp; Keys</span>
				</div>


				<div class="leaf expanded">
					<i class="icon-folder"></i>
					<span>Drums</span>

					<div class="children">
						<div class="leaf" data-path="ClosedHat.ogg">
							<i class="icon-audio"></i>
							<span>Hihat</span>
						</div>
					</div>
				</div> -->


			</div>
			<div class="box-body audio-chart" data-click="play-audio">
				<!-- Audio chart goes here -->
			</div>
		</div>
		<div class="drums-body">
			<div class="box-title">Drums</div>
			<div class="box-body tree" data-click="do-tree-leaf"></div>
		</div>
		<div class="instruments-body">
			<div class="box-title">Instruments</div>
			<div class="box-body tree" data-click="do-tree-leaf"></div>
		</div>
		<div class="fx-body">
			<div class="box-title">Audio Effects</div>
			<div class="box-body tree" data-click="do-tree-leaf"></div>
		</div>
	</div>
</div>
