
<div class="rack-body drum-rack">
	<div class="rack-head">
		<i class="icon-blank"></i> 909 Core Kit
	</div>
	<div class="box-body">
		
		<div class="pads">
			<div class="pad-matrix">
				<div class="cursor"></div>
			</div>
			<ul class="pad-list">

				<li>
					<span class="pad-name">Tom Hi 909</span>
					<i class="pad-mute"></i>
					<i class="pad-play"></i>
					<i class="pad-solo"></i>
				</li>
				<li>
					<span class="pad-name">Crash 909</span>
					<i class="pad-mute"></i>
					<i class="pad-play"></i>
					<i class="pad-solo"></i>
				</li>
				<li>
					<span class="pad-name">Crash 909</span>
					<i class="pad-mute"></i>
					<i class="pad-play"></i>
					<i class="pad-solo"></i>
				</li>
				<li>
					<span class="pad-name">Ride 909</span>
					<i class="pad-mute"></i>
					<i class="pad-play"></i>
					<i class="pad-solo"></i>
				</li>

				<li><span class="pad-name">Hihat 909</span><i class="pad-mute"></i><i class="pad-play"></i><i class="pad-solo"></i></li>
				<li><span class="pad-name">Tom Low 909</span><i class="pad-mute"></i><i class="pad-play"></i><i class="pad-solo"></i></li>
				<li><span class="pad-name">Hihat Open 909</span><i class="pad-mute"></i><i class="pad-play"></i><i class="pad-solo"></i></li>
				<li><span class="pad-name">Tom Mid 909</span><i class="pad-mute"></i><i class="pad-play"></i><i class="pad-solo"></i></li>

				<li><span class="pad-name">Snare 909</span><i class="pad-mute"></i><i class="pad-play"></i><i class="pad-solo"></i></li>
				<li><span class="pad-name">Kick 909</span><i class="pad-mute"></i><i class="pad-play"></i><i class="pad-solo"></i></li>
				<li><span class="pad-name">Hihat Closed 909</span><i class="pad-mute"></i><i class="pad-play"></i><i class="pad-solo"></i></li>
				<li><span class="pad-name">Tom Low 909</span><i class="pad-mute"></i><i class="pad-play"></i><i class="pad-solo"></i></li>

				<li><span class="pad-name">Kick 909</span><i class="pad-mute"></i><i class="pad-play"></i><i class="pad-solo"></i></li>
				<li><span class="pad-name">Rim 909</span><i class="pad-mute"></i><i class="pad-play"></i><i class="pad-solo"></i></li>
				<li><span class="pad-name">Snare 909</span><i class="pad-mute"></i><i class="pad-play"></i><i class="pad-solo"></i></li>
				<li><span class="pad-name">Clap 909</span><i class="pad-mute"></i><i class="pad-play"></i><i class="pad-solo"></i></li>
				
			</ul>
		</div>

	</div>
</div>

<div class="box-body"><!-- space --></div>
