
<div class="rack-body drum-rack">
	<div class="rack-head">
		<i class="icon-blank"></i> 909 Core Kit
	</div>
	<div class="box-body">
		
		<div class="device-control">
			<ul class="controls">
				<li>
					<span class="ctrl-name">DrBus Amount</span>
					<div class="knob ctrl-knob" data-value="23"></div>
					<span class="ctrl-value">23%</span>
				</li>
				<li>
					<span class="ctrl-name">DrBus Drive</span>
					<div class="knob ctrl-knob" data-value="14"></div>
					<span class="ctrl-value">14</span>
				</li>
				<li>
					<span class="ctrl-name">DrBus Transien</span>
					<div class="knob ctrl-knob" data-value="42"></div>
					<span class="ctrl-value">42</span>
				</li>
				<li>
					<span class="ctrl-name">Low Gain</span>
					<div class="knob ctrl-knob" data-value="0"></div>
					<span class="ctrl-value">0.00 dB</span>
				</li>
				<li>
					<span class="ctrl-name">Mid Gain</span>
					<div class="knob ctrl-knob" data-value="0"></div>
					<span class="ctrl-value">0.00 dB</span>
				</li>
				<li>
					<span class="ctrl-name">Mid Freq</span>
					<div class="knob ctrl-knob" data-value="50"></div>
					<span class="ctrl-value">316 Hz</span>
				</li>
			</ul>
		</div>

		<div class="pads">
			<div class="pad-matrix">
				<div class="cursor"></div>
			</div>
			<ul class="pad-list disable-mute1">
				<li>
					<span class="pad-name">Tom Hi 909</span>
					<i class="pad-mute">M</i>
					<i class="pad-play"></i>
					<i class="pad-solo">S</i>
				</li>
				<li>
					<span class="pad-name">Crash 909</span>
					<i class="pad-mute">M</i>
					<i class="pad-play"></i>
					<i class="pad-solo">S</i>
				</li>
				<li>
					<span class="pad-name">Crash 909</span>
					<i class="pad-mute">M</i>
					<i class="pad-play"></i>
					<i class="pad-solo">S</i>
				</li>
				<li class="active1">
					<span class="pad-name">Ride 909</span>
					<i class="pad-mute">M</i>
					<i class="pad-play"></i>
					<i class="pad-solo">S</i>
				</li>

				<li><span class="pad-name">Hihat 909</span><i class="pad-mute">M</i><i class="pad-play"></i><i class="pad-solo">S</i></li>
				<li><span class="pad-name">Tom Low 909</span><i class="pad-mute">M</i><i class="pad-play"></i><i class="pad-solo">S</i></li>
				<li><span class="pad-name">Hihat Open 909</span><i class="pad-mute">M</i><i class="pad-play"></i><i class="pad-solo">S</i></li>
				<li><span class="pad-name">Tom Mid 909</span><i class="pad-mute">M</i><i class="pad-play"></i><i class="pad-solo">S</i></li>

				<li><span class="pad-name">Snare 909</span><i class="pad-mute">M</i><i class="pad-play"></i><i class="pad-solo">S</i></li>
				<li><span class="pad-name">Kick 909</span><i class="pad-mute">M</i><i class="pad-play"></i><i class="pad-solo">S</i></li>
				<li><span class="pad-name">Hihat Closed 909</span><i class="pad-mute">M</i><i class="pad-play"></i><i class="pad-solo">S</i></li>
				<li><span class="pad-name">Tom Low 909</span><i class="pad-mute">M</i><i class="pad-play"></i><i class="pad-solo">S</i></li>

				<li><span class="pad-name">Kick 909</span><i class="pad-mute">M</i><i class="pad-play"></i><i class="pad-solo">S</i></li>
				<li><span class="pad-name">Rim 909</span><i class="pad-mute">M</i><i class="pad-play"></i><i class="pad-solo">S</i></li>
				<li><span class="pad-name">Snare 909</span><i class="pad-mute">M</i><i class="pad-play"></i><i class="pad-solo">S</i></li>
				<li><span class="pad-name">Clap 909</span><i class="pad-mute">M</i><i class="pad-play"></i><i class="pad-solo">S</i></li>
			</ul>
		</div>
	</div>
</div>
	
<div class="rack-body drum-rack">
	<div class="rack-head">
		<i class="icon-blank"></i> Snare 909
	</div>
	<div class="box-body">
		<div class="sample-display">
			<div class="graph has-values">

			</div>
			<div class="controls">
				<div>
					<span>12Hz</span>
					<div class="knob frequence" data-value="73"></div>
					<label title="Frequency">Freq</label>
				</div>
				<div>
					<span>32%</span>
					<div class="knob response" data-value="12"></div>
					<label title="Response">Resp</label>
				</div>
				<div class="space"></div>
				<div>
					<span>31dB</span>
					<div class="knob response" data-value="15"></div>
					<label title="Response">Volume</label>
				</div>
			</div>
		</div>

	</div>
</div>

<div class="box-body"><!-- space --></div>
