
<div class="rack-body">
	<div class="rack-head">
		<i class="icon-blank"></i> Clip &amp; Notes
	</div>
	<div class="box-body">
		
		<div class="field-row">
			<div class="toggle-btn off">
				<span>Drumkit</span>
			</div>
		</div>

		<div class="field-row">
			<div class="toggle-btn on">
				<span>Sample Button</span>
			</div>
		</div>

		<div class="field-row">
			<input type="text" value="1" class="w30 right"/>
			<input type="text" value="1" class="w30 right"/>
			<input type="text" value="1" class="w30 right"/>
		</div>

		<div class="field-row">
			<selectbox>
				<option selected="1">Trigger</option>
				<option>Gate</option>
				<option>Toggle</option>
				<option>Repeat</option>
			</selectbox>
		</div>

		<div class="field-row">
			<div class="button">
				<span>Legato</span>
			</div>
		</div>

		<div class="field-row">
			<span class="checkbox">
				<input type="checkbox" id="sample-checkbox">
				<i></i>
			</span>
			<label for="sample-checkbox">Checkbox</label>
		</div>

		<div class="field-row">
			<span class="checkbox">
				<input type="checkbox" id="sample-checkbox2" checked>
				<i></i>
			</span>
			<label for="sample-checkbox2">Checkbox2</label>
		</div>

		<div class="field-row">
			<div class="knob2" data-value="0"></div>
			<div class="knob2" data-value="37"></div>
			<div class="knob2" data-value="73"></div>
		</div>

	</div>
</div>
