
<div class="midi-note-editor">
	<div class="row-head">
		<div class="col-left"></div>
		<div class="col-right">
			<div class="box-body">
				<div class="loop-span"></div>
			</div>
		</div>
	</div>
	
	<div class="row-body">
		<div class="col-left">
			<div class="box-body"></div>
		</div>
		<div class="col-right">
			<div class="box-body"></div>
			<div class="time-cursor"></div>
			<div class="time-end"></div>
		</div>
	</div>

	<div class="row-foot">
		<div class="col-left"></div>
		<div class="col-right">
			<div class="box-body"></div>
		</div>
	</div>
</div>
