

<div class="rack-body device-control">
	<div class="rack-head">
		<i class="icon-blank"></i> Clip &amp; Notes
	</div>
	<div class="box-body">
		
		<div class="field-row">
			<div class="toggle-btn off">
				<span>Drumkit</span>
			</div>
		</div>

		<div class="field-row">
			<div class="toggle-btn on">
				<span>Sample Button</span>
			</div>
		</div>

		<div class="field-row">
			<input type="text" value="1" class="w30 right"/>
			<input type="text" value="1" class="w30 right"/>
			<input type="text" value="1" class="w30 right"/>
		</div>

		<div class="field-row">
			<selectbox>
				<option selected="1">Trigger</option>
				<option>Gate</option>
				<option>Toggle</option>
				<option>Repeat</option>
			</selectbox>
		</div>

		<div class="field-row">
			<div class="button">
				<span>Legato</span>
			</div>
		</div>

		<div class="field-row">
			<span class="checkbox">
				<input type="checkbox" id="sample-checkbox">
				<i></i>
			</span>
			<label for="sample-checkbox">Checkbox</label>
		</div>

		<div class="field-row">
			<span class="checkbox">
				<input type="checkbox" id="sample-checkbox2" checked>
				<i></i>
			</span>
			<label for="sample-checkbox2">Checkbox2</label>
		</div>

		<div class="field-row">
			<div class="knob2" data-value="0"></div>
			<div class="knob2" data-value="37"></div>
			<div class="knob2" data-value="73"></div>
		</div>

	</div>
</div>

<div class="midi-note-editor drumkit1">
	<div class="row-head">
		<div class="col-left">
			<div class="box-body"></div>
		</div>
		<div class="col-right">
			<div class="box-body">
				<div class="body-frame" style="transform: translateX(0px);">
					<ul>
						<li>1</li>
						<li>1.2</li>
						<li>1.3</li>
						<li>1.4</li>
						<li>2</li>
						<li>2.2</li>
						<li>2.3</li>
						<li>2.4</li>
					</ul>
				</div>
			</div>
			<div class="loop-span"></div>
			<div class="length-span"></div>

			<div class="time-cursor"></div>
			<div class="time-end" style="transform: translateX(0px);"></div>
			
		</div>
	</div>
	
	<div class="row-body">
		<div class="col-left">
			<div class="box-body">
				<div class="body-frame" style="transform: translateY(-250px);">
					<ol>
						<li>Hihat 909</li>
						<li>Tom Low 909</li>
						<li>Hihat Open 909</li>
						<li>Tom Mid 909</li>
						<li>Snare 909</li>
						<li>Kick 909</li>
						<li>Hihat Closed 909</li>
						<li>Tom Low 909</li>
						<li>Kick 909</li>
						<li>Rim 909</li>
						<li>Snare 909</li>
						<li>Clap 909</li>
					</ol>
					<ul>
						<li>C7</li>
						<li>C6</li>
						<li>C5</li>
						<li>C4</li>
						<li>C3</li>
						<li>C2</li>
						<li>C1</li>
						<li>C0</li>
						<li>C-1</li>
						<li>C-2</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-right">
			<div class="box-body">
				<div class="body-frame" style="transform: translateY(-250px) translateX(0px);">
					<span class="selection" style="--t: 5; --l: 16; --d: 10; --o: 2;"></span>

					<b style="--t: 14; --l: 0; --d: 2; --c: #77c;">A4</b>
					<b style="--t: 16; --l: 2; --d: 2; --c: #77c;">G4</b>
					<b style="--t: 18; --l: 4; --d: 2; --c: #77c;">F4</b>
					<b style="--t: 16; --l: 6; --d: 2; --c: #77c;">G4</b>
					<b style="--t: 14; --l: 8; --d: 2; --c: #77c;">A4</b>
					<b style="--t: 14; --l: 10; --d: 2; --c: #77c;">A4</b>
					<b style="--t: 14; --l: 12; --d: 4; --c: #77c;">A4</b>

					<b style="--t: 16; --l: 16; --d: 2; --c: #77c;">G4</b>
					<b style="--t: 16; --l: 18; --d: 2; --c: #77c;">G4</b>
					<b style="--t: 16; --l: 20; --d: 4; --c: #77c;">G4</b>
					<b style="--t: 14; --l: 24; --d: 2; --c: #77c;">A4</b>
					<b style="--t: 11; --l: 26; --d: 2; --c: #77c;">C5</b>
					<b style="--t: 11; --l: 28; --d: 4; --c: #77c;">C5</b>

					<b style="--t: 14; --l: 32; --d: 2; --c: #77c;">A4</b>
					<b style="--t: 16; --l: 34; --d: 2; --c: #77c;">G4</b>
					<b style="--t: 18; --l: 36; --d: 2; --c: #77c;">F4</b>
					<b style="--t: 16; --l: 38; --d: 2; --c: #77c;">G4</b>
					<b style="--t: 14; --l: 40; --d: 2; --c: #77c;">A4</b>
					<b style="--t: 14; --l: 42; --d: 2; --c: #77c;">A4</b>
					<b style="--t: 14; --l: 44; --d: 2; --c: #77c;">A4</b>
					<b style="--t: 14; --l: 46; --d: 2; --c: #77c;">A4</b>

					<b style="--t: 16; --l: 48; --d: 2; --c: #77c;">G4</b>
					<b style="--t: 16; --l: 50; --d: 2; --c: #77c;">G4</b>
					<b style="--t: 14; --l: 52; --d: 2; --c: #77c;">A4</b>
					<b style="--t: 16; --l: 54; --d: 2; --c: #77c;">G4</b>
					<b style="--t: 18; --l: 56; --d: 8; --c: #77c;">F4</b>


					<b style="--t: 23; --l: 0; --d: 8; --c: #4a4;">C4</b>
					<b style="--t: 26; --l: 0; --d: 8; --c: #4a4;">A3</b>
					<b style="--t: 30; --l: 0; --d: 8; --c: #4a4;">F3</b>

					<b style="--t: 23; --l: 8; --d: 8; --c: #4a4;" class="selected">C4</b>
					<b style="--t: 26; --l: 8; --d: 8; --c: #4a4;" class="selected">A3</b>
					<b style="--t: 30; --l: 8; --d: 8; --c: #4a4;" class="selected">F3</b>

					<b style="--t: 28; --l: 16; --d: 8; --c: #4a4;">G3</b>
					<b style="--t: 31; --l: 16; --d: 8; --c: #4a4;">E3</b>
					<b style="--t: 35; --l: 16; --d: 8; --c: #4a4;">C3</b>

					<b style="--t: 23; --l: 24; --d: 8; --c: #4a4;">C4</b>
					<b style="--t: 26; --l: 24; --d: 8; --c: #4a4;">A3</b>
					<b style="--t: 30; --l: 24; --d: 8; --c: #4a4;">F3</b>

					<b style="--t: 23; --l: 32; --d: 8; --c: #4a4;">C4</b>
					<b style="--t: 26; --l: 32; --d: 8; --c: #4a4;">A3</b>
					<b style="--t: 30; --l: 32; --d: 8; --c: #4a4;">F3</b>

					<b style="--t: 23; --l: 40; --d: 8; --c: #4a4;">C4</b>
					<b style="--t: 26; --l: 40; --d: 8; --c: #4a4;">A3</b>
					<b style="--t: 30; --l: 40; --d: 8; --c: #4a4;">F3</b>

					<b style="--t: 28; --l: 48; --d: 8; --c: #4a4;">G3</b>
					<b style="--t: 31; --l: 48; --d: 8; --c: #4a4;">E3</b>
					<b style="--t: 35; --l: 48; --d: 8; --c: #4a4;">C3</b>

					<b style="--t: 23; --l: 56; --d: 8; --c: #4a4;">C4</b>
					<b style="--t: 26; --l: 56; --d: 8; --c: #4a4;">A3</b>
					<b style="--t: 30; --l: 56; --d: 8; --c: #4a4;">F3</b>


				</div>
			</div>
		</div>
	</div>

	<div class="row-foot">
		<div class="col-left">
			<div class="box-body"></div>
		</div>
		<div class="col-right">
			<div class="box-body">
				<div class="body-frame" style="transform: translateX(0px);">
					<b style="--l: 2; --v: 1.1;"></b>
					<b style="--l: 4; --v: 1;"></b>
					<b style="--l: 8; --v: .75;"></b>
					
				</div>
			</div>
		</div>
	</div>

	<!-- velocity editor toggle button -->
	<span class="velocity-toggler"></span>
</div>
