
<div class="popups">
	<div class="envelope-curve-options">
		<ul data-click="set-envelope-curve">
			<li data-arg="exponential"><i class="icon-curve_exponential"></i> Exponential</li>
			<li data-arg="linear"><i class="icon-curve_linear"></i> Linear</li>
			<li data-arg="sine"><i class="icon-curve_sine"></i> Sine</li>
			<li data-arg="cosine"><i class="icon-curve_cosine"></i> Cosine</li>
			<li data-arg="step"><i class="icon-curve_step"></i> Step</li>
			<li data-arg="bounce"><i class="icon-curve_bounce"></i> Bounce</li>
			<li data-arg="ripple"><i class="icon-curve_ripple"></i> Ripple</li>
		</ul>
	</div>

	<div class="oscillator-shape-options">
		<ul data-click="set-oscillator-shape">
			<li data-arg="sine"><i class="icon-shape_sine"></i> Sine</li>
			<li data-arg="triangle"><i class="icon-shape_triangle"></i> Triangle</li>
			<li data-arg="square"><i class="icon-shape_square"></i> Square</li>
			<li data-arg="sawtooth"><i class="icon-shape_sawtooth"></i> Sawtooth</li>
		</ul>
	</div>
</div>
