
<div class="sess-layout">
	<div class="tracks-wrapper">
		<div class="tracks">
			
			<div class="track">
				<div class="title">Drumkit</div>
				<div class="slots"></div>
				<div class="status"></div>
				<div class="io"></div>
				<div class="sends">
					<div class="knob" data-value="0" data-label="A"></div>
					<div class="knob" data-value="0" data-label="B"></div>
				</div>
				<div class="mixer">
					<div>
						<div class="pan-knob" data-value="0"><div></div></div>
						<div class="toggle-button activator">1</div>
						<div class="toggle-button solo">S</div>
						<div class="toggle-button record">&#9679;</div>
					</div>
					<div class="volume" data-value="88" style="--eq: 73%;">
						<div></div>
					</div>
				</div>
			</div>
		
			<div class="track">
				<div class="title">Grand Piano</div>
				<div class="slots"></div>
				<div class="status"></div>
				<div class="io"></div>
				<div class="sends">
					<div class="knob" data-value="0" data-label="A"></div>
					<div class="knob" data-value="0" data-label="B"></div>
				</div>
				<div class="mixer">
					<div>
						<div class="pan-knob" data-value="0"><div></div></div>
						<div class="toggle-button activator">2</div>
						<div class="toggle-button solo active">S</div>
						<div class="toggle-button record">&#9679;</div>
					</div>
					<div class="volume" data-value="88" style="--eq: 73%;">
						<div></div>
					</div>
				</div>
			</div>
		
			<div class="track">
				<div class="title">Chorus</div>
				<div class="slots"></div>
				<div class="status"></div>
				<div class="io"></div>
				<div class="sends">
					<div class="knob" data-value="0" data-label="A"></div>
					<div class="knob" data-value="0" data-label="B"></div>
				</div>
				<div class="mixer">
					<div>
						<div class="pan-knob" data-value="0"><div></div></div>
						<div class="toggle-button activator">3</div>
						<div class="toggle-button solo">S</div>
						<div class="toggle-button record active">&#9679;</div>
					</div>
					<div class="volume" data-value="88" style="--eq: 73%;">
						<div></div>
					</div>
				</div>
			</div>
		</div>

		<div class="space"></div>
	</div>

	<div class="io-master">
		<div class="tracks">

			<div class="track">
				<div class="title">Reverb</div>
				<div class="slots"></div>
				<div class="status"></div>
				<div class="io"></div>
				<div class="sends">
					<div class="knob" data-value="0" data-label="A"></div>
					<div class="knob" data-value="0" data-label="B"></div>
				</div>
				<div class="mixer">
					<div>
						<div class="pan-knob" data-value="0"><div></div></div>
						<div class="toggle-button activator">A</div>
						<div class="toggle-button solo">S</div>
						<div class="toggle-button record">&#9679;</div>
					</div>
					<div class="volume" data-value="88" style="--eq: 73%;">
						<div></div>
					</div>
				</div>
			</div>

			<div class="track">
				<div class="title">Delay</div>
				<div class="slots"></div>
				<div class="status"></div>
				<div class="io"></div>
				<div class="sends">
					<div class="knob" data-value="0" data-label="A"></div>
					<div class="knob" data-value="0" data-label="B"></div>
				</div>
				<div class="mixer">
					<div>
						<div class="pan-knob" data-value="0"><div></div></div>
						<div class="toggle-button activator">B</div>
						<div class="toggle-button solo">S</div>
						<div class="toggle-button record">&#9679;</div>
					</div>
					<div class="volume" data-value="88" style="--eq: 73%;">
						<div></div>
					</div>
				</div>
			</div>

			<div class="track">
				<div class="title">Master</div>
				<div class="slots"></div>
				<div class="status"></div>
				<div class="io"></div>
				<div class="sends">
					<div class="knob" data-value="0" data-label="A"></div>
					<div class="knob" data-value="0" data-label="B"></div>
				</div>
				<div class="mixer">
					<div>
						<div class="pan-knob" data-value="0"><div></div></div>
					</div>
					<div class="volume" data-value="88" style="--eq: 73%;">
						<div></div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
