
<div class="sess-layout" data-section="session">
	<div class="tracks-wrapper" data-click="select-clip">
		<div class="tracks">
			<!-- @import "session-tacks.htm" -->

			<!-- <div class="selection" style="--selT: 2; --selL: 0;"></div>
			<div class="selection" style="--selT: 5; --selL: 2; --selH: 2;"></div> -->
		</div>

		<div class="space" data-context="show-color-menu"></div>
	</div>

	<div class="io-master" data-click="select-io-track">
		<div class="tracks">

			<div class="track">
				<div class="title">Reverb</div>
				<div class="slots"></div>
				<div class="status"></div>
				<div class="io"></div>
				<div class="sends" data-name="Sends">
					<div class="knob" data-value="0" data-label="A"></div>
					<div class="knob" data-value="0" data-label="B"></div>
				</div>
				<div class="mixer">
					<div>
						<div class="pan-knob" data-value="0"><div></div></div>
						<div class="track-btn activator">A</div>
						<div class="track-btn solo">S</div>
						<div class="track-btn record">&#9679;</div>
					</div>
					<div class="volume" style="--vol: 20%;">
						<div></div>
					</div>
				</div>
			</div>

			<div class="track">
				<div class="title">Delay</div>
				<div class="slots"></div>
				<div class="status"></div>
				<div class="io"></div>
				<div class="sends" data-name="Sends">
					<div class="knob" data-value="0" data-label="A"></div>
					<div class="knob" data-value="0" data-label="B"></div>
				</div>
				<div class="mixer">
					<div>
						<div class="pan-knob" data-value="0"><div></div></div>
						<div class="track-btn activator">B</div>
						<div class="track-btn solo">S</div>
						<div class="track-btn record">&#9679;</div>
					</div>
					<div class="volume" style="--vol: 0%;">
						<div></div>
					</div>
				</div>
			</div>

			<div class="track" style="--c: #a73;">
				<div class="title">Master</div>
				<div class="slots"></div>
				<div class="status">
					<i class="btn-stop"></i>
				</div>
				<div class="io"></div>
				<div class="sends" data-name="Sends">
					<!-- <div class="knob" data-value="0" data-label="A"></div>
					<div class="knob" data-value="0" data-label="B"></div> -->
				</div>
				<div class="mixer">
					<div>
						<div class="pan-knob" data-value="0"><div></div></div>
					</div>
					<div class="volume" style="--vol: 63%;">
						<div></div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
