
<div class="sess-layout">
	<div class="tracks-wrapper">
		<div class="tracks">
			
			<div class="track" style="--c: #96a;">
				<div class="title">Drumkit</div>
				<div class="slots">
					<b style="--r: 1;">Clip 1</b>
				</div>
				<div class="status">
					<i class="btn-stop"></i>
					<i class="pie-playing on1" style="--duration: 2s;"></i>
				</div>
				<div class="io"></div>
				<div class="sends" data-name="Sends">
					<div class="knob" data-value="0" data-label="A"></div>
					<div class="knob" data-value="0" data-label="B"></div>
				</div>
				<div class="mixer">
					<div>
						<div class="pan-knob" data-value="0"><div></div></div>
						<div class="track-btn activator">1</div>
						<div class="track-btn solo">S</div>
						<div class="track-btn record">&#9679;</div>
					</div>
					<div class="volume" style="--vol: 67%;">
						<div></div>
					</div>
				</div>
			</div>
		
			<div class="track" style="--c: #77c;">
				<div class="title">Grand Piano</div>
				<div class="slots">
					<b style="--r: 1;">Clip 1</b>
					<b style="--r: 4;">Clip 2</b>
				</div>
				<div class="status">
					<i class="btn-record"></i>
					<i class="pie-playing on1" style="--duration: 4s;"></i>
				</div>
				<div class="io"></div>
				<div class="sends" data-name="Sends">
					<div class="knob" data-value="0" data-label="A"></div>
					<div class="knob" data-value="0" data-label="B"></div>
				</div>
				<div class="mixer">
					<div>
						<div class="pan-knob" data-value="0"><div></div></div>
						<div class="track-btn activator off">2</div>
						<div class="track-btn solo active">S</div>
						<div class="track-btn record">&#9679;</div>
					</div>
					<div class="volume" style="--vol: 90%;">
						<div></div>
					</div>
				</div>
			</div>
		
			<div class="track" style="--c: #4a4;">
				<div class="title">Chorus</div>
				<div class="slots">
					<b style="--r: 1;">Clip 1</b>
					<b style="--r: 4;">Clip 2</b>
					<b style="--r: 5;">Clip 3</b>
				</div>
				<div class="status">
					<i class="btn-play"></i>
					<i class="pie-playing" data-value="85"></i>
				</div>
				<div class="io"></div>
				<div class="sends" data-name="Sends">
					<div class="knob" data-value="0" data-label="A"></div>
					<div class="knob" data-value="0" data-label="B"></div>
				</div>
				<div class="mixer">
					<div>
						<div class="pan-knob" data-value="0"><div></div></div>
						<div class="track-btn activator">3</div>
						<div class="track-btn solo">S</div>
						<div class="track-btn record active">&#9679;</div>
					</div>
					<div class="volume" style="--vol: 73%;">
						<div></div>
					</div>
				</div>
			</div>

			<div class="selection" style="--selT: 2; --selL: 0;"></div>
			<div class="selection" style="--selT: 5; --selL: 2; --selH: 2;"></div>
		</div>

		<div class="space" data-context="show-color-menu"></div>
	</div>

	<div class="io-master">
		<div class="tracks">

			<div class="track">
				<div class="title">Reverb</div>
				<div class="slots"></div>
				<div class="status"></div>
				<div class="io"></div>
				<div class="sends" data-name="Sends">
					<div class="knob" data-value="0" data-label="A"></div>
					<div class="knob" data-value="0" data-label="B"></div>
				</div>
				<div class="mixer">
					<div>
						<div class="pan-knob" data-value="0"><div></div></div>
						<div class="track-btn activator">A</div>
						<div class="track-btn solo">S</div>
						<div class="track-btn record">&#9679;</div>
					</div>
					<div class="volume" style="--vol: 20%;">
						<div></div>
					</div>
				</div>
			</div>

			<div class="track">
				<div class="title">Delay</div>
				<div class="slots"></div>
				<div class="status"></div>
				<div class="io"></div>
				<div class="sends" data-name="Sends">
					<div class="knob" data-value="0" data-label="A"></div>
					<div class="knob" data-value="0" data-label="B"></div>
				</div>
				<div class="mixer">
					<div>
						<div class="pan-knob" data-value="0"><div></div></div>
						<div class="track-btn activator">B</div>
						<div class="track-btn solo">S</div>
						<div class="track-btn record">&#9679;</div>
					</div>
					<div class="volume" style="--vol: 0%;">
						<div></div>
					</div>
				</div>
			</div>

			<div class="track" style="--c: #a73;">
				<div class="title">Master</div>
				<div class="slots"></div>
				<div class="status">
					<i class="btn-stop"></i>
				</div>
				<div class="io"></div>
				<div class="sends" data-name="Sends">
					<!-- <div class="knob" data-value="0" data-label="A"></div>
					<div class="knob" data-value="0" data-label="B"></div> -->
				</div>
				<div class="mixer">
					<div>
						<div class="pan-knob" data-value="0"><div></div></div>
					</div>
					<div class="volume" style="--vol: 63%;">
						<div></div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
