
<div class="folder">
	<i>Piano &amp; Keys</i>
</div>

<div class="folder">
	<i>Guitar &amp; Plucked</i>
</div>

<div class="folder active">
	<i>Brass</i>
</div>

<div class="item" data-path="drumkit/kick.wav"><i>Kick</i></div>

<div class="folder expanded">
	<i>Drums</i>
	<div class="children">
		<div class="item" data-path="drumkit/hihat.wav"><i>Hihat</i></div>
		<div class="item active" data-path="drumkit/kick.wav"><i>Kick</i></div>
		<div class="item" data-path="drumkit/snare.wav"><i>Snare</i></div>
		<div class="item" data-path="drumkit/tom1.wav"><i>Tom 1</i></div>
		<div class="item" data-path="drumkit/tom2.wav"><i>Tom 2</i></div>
		<div class="item" data-path="drumkit/tom3.wav"><i>Tom 3</i></div>
	</div>
</div>

<div class="folder">
	<i>Mallets</i>
</div>

<div class="folder">
	<i>Strings</i>
</div>
