<content>
	<div class="row-work">
		<div class="buttons">
			<div class="ball-button" title="Toggle View" data-click="toggle-work-panel">
				<i class="icon-arrow_up right"></i>
			</div>
			<div class="ball-button active" title="Sounds">
				<i class="icon-sounds"></i>
			</div>
			<div class="ball-button" title="Drums">
				<i class="icon-drums"></i>
			</div>
			<div class="ball-button" title="Instruments">
				<i class="icon-instruments"></i>
			</div>
			<div class="ball-button" title="Audio Effects">
				<i class="icon-audio_fx"></i>
			</div>
		</div>
		<div class="panel-left">
			<div class="box tree">
				<div class="scrollbar"></div>
				<div class="box-body">
					
				</div>
			</div>
		</div>
		<div class="panel-right">
			<div class="box session-wrapper">
				<div class="scrollbar"></div>
				<!-- Session content goes here -->
			</div>
		</div>
		<div class="buttons">
			<div class="ball-button" title="Arrangement View"><i class="icon-arrangement"></i></div>
			<div class="ball-button active" title="Session View"><i class="icon-session"></i></div>
		</div>
	</div>
	<div class="panel-bottom">
		<div class="box rack">
			<div class="box-body">
				
			</div>
		</div>
	</div>
	<div class="row-foot">
		<div class="box status-bar">
			<div class="box-body">
				
			</div>
		</div>
		<div class="box option-1 active">Device Editor</div>
		<div class="box option-2">Midi Editor</div>
		<div class="buttons">
			<div class="ball-button" title="Toggle View" data-click="toggle-rack-panel">
				<i class="icon-arrow_up"></i>
			</div>
		</div>
	</div>
</content>
