
@margin: 4px;
@base: #182c40;
@face: #294a6b;
@boxBg: #466788;
@text: #b7cbe0;
@highlight: #b92;

// @base: darken(@boxBg, 23%);
// @face: darken(@boxBg, 10%);
// @boxBg: #466788;
// @text: lighten(@boxBg, 29%);


background: @base;

content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	font-size: 11px;
	padding: @margin + 1px;
	color: darken(@text, 7%);
	text-shadow: 0 1px 0 darken(@boxBg, 17%);

	&.hide-cursor:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 999;
		background: transparent;
		cursor: none;
	}

	> div {
		margin-top: @margin;
	}

	.box {
		background: @face;
		position: relative;
		padding: @margin;
		border-radius: 5px;

		.box-body {
			background: @boxBg;
			box-shadow: inset 0 1px 0 lighten(@boxBg, 3%),
						0 1px 0 darken(@boxBg, 15%);
			position: relative;
			width: 100%;
			height: 100%;
			border-radius: 3px;
		}
	}

	.space {
		flex: auto;
		background: darken(@boxBg, 2%);
		border-radius: 3px;
		box-shadow: 0 0 0;
	}

	.buttons {
		width: 25px;
	}

	.ball-button {
		background: @face;
		position: relative;
		width: 23px;
		height: 23px;
		border-radius: 50%;
		margin-bottom: @margin;
		cursor: pointer;

		&.active {
			i[class*="icon-"] {
				background-size: 85% auto;
				filter: brightness(5) hue-rotate(30deg) drop-shadow(0 1px 0 darken(@boxBg, 21%));
			}
		}

		i[class*="icon-"] {
			top: 3px;
			left: 3px;
			transition: all 150ms ease;
			//transform-origin: 50% 50%;
		}
	}

	.knob {
		position: relative;
		display: inline-block;
		width: 34px;
		height: 34px;
		margin: 1px 3px 0;
		background: url(~/icons/knob.png) no-repeat;
		background-size: 100% auto;
		text-transform: uppercase;
		text-align: center;
		font-size: 10px;
		font-weight: 100;
		color: darken(@face, 2%);
		text-shadow: 0 0 0;
		//background-color: rgba(0,0,0,.1);

		&[data-label]:before {
			content: attr(data-label);
			position: absolute;
			bottom: -3px;
			left: 0;
			right: 0;
			z-index: 3;
			pointer-events: none;
		}

		&[data-title]:before {
			content: attr(data-title);
			position: absolute;
			bottom: -11px;
			left: -11px;
			right: -11px;
			z-index: 3;
			pointer-events: none;
		}

		&[data-value="0"] { background-position: 0 -13px; } 
		&[data-value="2"] { background-position: 0 -47px; }
		&[data-value="4"] { background-position: 0 -81px; }
		&[data-value="6"] { background-position: 0 -115px; }
		&[data-value="8"] { background-position: 0 -149px; }
		&[data-value="10"] { background-position: 0 -183px; }
		&[data-value="12"] { background-position: 0 -217px; }
		&[data-value="14"] { background-position: 0 -251px; }
		&[data-value="16"] { background-position: 0 -285px; }
		&[data-value="18"] { background-position: 0 -319px; }
		&[data-value="20"] { background-position: 0 -353px; }
		&[data-value="22"] { background-position: 0 -387px; }
		&[data-value="24"] { background-position: 0 -421px; }
		&[data-value="26"] { background-position: 0 -455px; }
		&[data-value="28"] { background-position: 0 -489px; }
		&[data-value="30"] { background-position: 0 -523px; }
		&[data-value="32"] { background-position: 0 -557px; }
		&[data-value="34"] { background-position: 0 -591px; }
		&[data-value="36"] { background-position: 0 -625px; }
		&[data-value="38"] { background-position: 0 -659px; }
		&[data-value="40"] { background-position: 0 -693px; }
		&[data-value="42"] { background-position: 0 -727px; }
		&[data-value="44"] { background-position: 0 -761px; }
		&[data-value="46"] { background-position: 0 -795px; }
		&[data-value="48"] { background-position: 0 -829px; }
		&[data-value="50"] { background-position: 0 -863px; }
		&[data-value="52"] { background-position: 0 -897px; }
		&[data-value="54"] { background-position: 0 -931px; }
		&[data-value="56"] { background-position: 0 -965px; }
		&[data-value="58"] { background-position: 0 -999px; }
		&[data-value="60"] { background-position: 0 -1033px; }
		&[data-value="62"] { background-position: 0 -1067px; }
		&[data-value="64"] { background-position: 0 -1101px; }
		&[data-value="66"] { background-position: 0 -1135px; }
		&[data-value="68"] { background-position: 0 -1169px; }
		&[data-value="70"] { background-position: 0 -1203px; }
		&[data-value="72"] { background-position: 0 -1237px; }
		&[data-value="74"] { background-position: 0 -1271px; }
		&[data-value="76"] { background-position: 0 -1305px; }
		&[data-value="78"] { background-position: 0 -1339px; }
		&[data-value="80"] { background-position: 0 -1373px; }
		&[data-value="82"] { background-position: 0 -1407px; }
		&[data-value="84"] { background-position: 0 -1441px; }
		&[data-value="86"] { background-position: 0 -1475px; }
		&[data-value="88"] { background-position: 0 -1509px; }
		&[data-value="90"] { background-position: 0 -1543px; }
		&[data-value="92"] { background-position: 0 -1577px; }
		&[data-value="94"] { background-position: 0 -1611px; }
		&[data-value="96"] { background-position: 0 -1645px; }
		&[data-value="98"] { background-position: 0 -1679px; }
		&[data-value="100"] { background-position: 0 -1713px; }
	}

	.pan-knob {
		position: relative;
		display: inline-block;
		width: 34px;
		height: 34px;
		margin: 1px 3px 0;
		background: url(~/icons/pan-knob.png) no-repeat;
		background-size: 100% auto;

		&:before {
			content: "";
			display: none;
			position: absolute;
			top: -3px;
			left: 14px;
			border-left: 3px solid transparent;
			border-right: 3px solid transparent;
			border-top: 5px solid @face;
		}

		&[data-value="-50"] { background-position: 0 -13px;  }
		&[data-value="-48"] { background-position: 0 -47px; }
		&[data-value="-46"] { background-position: 0 -81px; }
		&[data-value="-44"] { background-position: 0 -115px; }
		&[data-value="-42"] { background-position: 0 -149px; }
		&[data-value="-40"] { background-position: 0 -183px; }
		&[data-value="-38"] { background-position: 0 -217px; }
		&[data-value="-36"] { background-position: 0 -251px; }
		&[data-value="-34"] { background-position: 0 -285px; }
		&[data-value="-32"] { background-position: 0 -319px; }
		&[data-value="-30"] { background-position: 0 -353px; }
		&[data-value="-28"] { background-position: 0 -387px; }
		&[data-value="-26"] { background-position: 0 -421px; }
		&[data-value="-24"] { background-position: 0 -455px; }
		&[data-value="-22"] { background-position: 0 -489px; }
		&[data-value="-20"] { background-position: 0 -523px; }
		&[data-value="-18"] { background-position: 0 -557px; }
		&[data-value="-16"] { background-position: 0 -591px; }
		&[data-value="-14"] { background-position: 0 -625px; }
		&[data-value="-12"] { background-position: 0 -659px; }
		&[data-value="-10"] { background-position: 0 -693px; }
		&[data-value="-8"] { background-position: 0 -727px; }
		&[data-value="-6"] { background-position: 0 -761px; }
		&[data-value="-4"] { background-position: 0 -795px; }
		&[data-value="-2"] { background-position: 0 -829px; }
		&[data-value="0"] { background-position: 0 -863px; &:before { display: block; } }
		&[data-value="2"] { background-position: 0 -897px; }
		&[data-value="4"] { background-position: 0 -931px; }
		&[data-value="6"] { background-position: 0 -965px; }
		&[data-value="8"] { background-position: 0 -999px; }
		&[data-value="10"] { background-position: 0 -1033px; }
		&[data-value="12"] { background-position: 0 -1067px; }
		&[data-value="14"] { background-position: 0 -1101px; }
		&[data-value="16"] { background-position: 0 -1135px; }
		&[data-value="18"] { background-position: 0 -1169px; }
		&[data-value="20"] { background-position: 0 -1203px; }
		&[data-value="22"] { background-position: 0 -1237px; }
		&[data-value="24"] { background-position: 0 -1271px; }
		&[data-value="26"] { background-position: 0 -1305px; }
		&[data-value="28"] { background-position: 0 -1339px; }
		&[data-value="30"] { background-position: 0 -1373px; }
		&[data-value="32"] { background-position: 0 -1407px; }
		&[data-value="34"] { background-position: 0 -1441px; }
		&[data-value="36"] { background-position: 0 -1475px; }
		&[data-value="38"] { background-position: 0 -1509px; }
		&[data-value="40"] { background-position: 0 -1543px; }
		&[data-value="42"] { background-position: 0 -1577px; }
		&[data-value="44"] { background-position: 0 -1611px; }
		&[data-value="46"] { background-position: 0 -1645px; }
		&[data-value="48"] { background-position: 0 -1679px; }
		&[data-value="50"] { background-position: 0 -1713px; }
	}

	.volume {
		background: @base;
		position: relative;
		width: 10px;
		height: 108px;
		border: 2px solid @face;
		border-radius: 3px;
		display: inline-block;
		//vertical-align: top;
		margin-left: 3px;
		margin-right: 12px;

		&.anim:after {
			animation: 1000ms spectrum linear infinite backwards;
		}

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 2px;
			background: linear-gradient(0deg, #0f0 0%, #96f 75%, #f00 100%);
		}

		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 100%;
			//transform: scaleY(0.3);
			transform-origin: 0 0;
			border-radius: 2px 2px 0 0;
			background: inherit;
		}

		div {
			position: absolute;
			top: 0;
			bottom: 0;
			right: -13px;
			width: 7px;
			border-top: 1px solid @face;
			border-bottom: 1px solid @face;

			&:before {
				content: "0";
				position: absolute;
				top: 12%;
				height: 1px;
				right: -6px;
				border-left: 5px solid @face;
				padding-left: 1px;
				line-height: .15;
				font-weight: 600;
				color: darken(@face, 5%);
			}

			&:after {
				content: "";
				background: @boxBg;
				position: absolute;
				top: 12%;
				left: -17px;
				height: 3px;
				width: 10px;
				margin-top: -1px;
				z-index: 2;
				border-left: 3px solid #b6c5ff;
				border-right: 3px solid #b6c5ff;
			}
		}

		&[data-value="0"] div:after { top: 100%; }
		&[data-value="2"] div:after { top: 98%; }
		&[data-value="4"] div:after { top: 96%; }
		&[data-value="6"] div:after { top: 94%; }
		&[data-value="8"] div:after { top: 92%; }
		&[data-value="10"] div:after { top: 90%; }
		&[data-value="12"] div:after { top: 88%; }
		&[data-value="14"] div:after { top: 86%; }
		&[data-value="16"] div:after { top: 84%; }
		&[data-value="18"] div:after { top: 82%; }
		&[data-value="20"] div:after { top: 80%; }
		&[data-value="22"] div:after { top: 78%; }
		&[data-value="24"] div:after { top: 76%; }
		&[data-value="26"] div:after { top: 74%; }
		&[data-value="28"] div:after { top: 72%; }
		&[data-value="30"] div:after { top: 70%; }
		&[data-value="32"] div:after { top: 68%; }
		&[data-value="34"] div:after { top: 66%; }
		&[data-value="36"] div:after { top: 64%; }
		&[data-value="38"] div:after { top: 62%; }
		&[data-value="40"] div:after { top: 60%; }
		&[data-value="42"] div:after { top: 58%; }
		&[data-value="44"] div:after { top: 56%; }
		&[data-value="46"] div:after { top: 54%; }
		&[data-value="48"] div:after { top: 52%; }
		&[data-value="50"] div:after { top: 50%; }
		&[data-value="52"] div:after { top: 48%; }
		&[data-value="54"] div:after { top: 46%; }
		&[data-value="56"] div:after { top: 44%; }
		&[data-value="58"] div:after { top: 42%; }
		&[data-value="60"] div:after { top: 40%; }
		&[data-value="62"] div:after { top: 38%; }
		&[data-value="64"] div:after { top: 36%; }
		&[data-value="66"] div:after { top: 34%; }
		&[data-value="68"] div:after { top: 32%; }
		&[data-value="70"] div:after { top: 30%; }
		&[data-value="72"] div:after { top: 28%; }
		&[data-value="74"] div:after { top: 26%; }
		&[data-value="76"] div:after { top: 24%; }
		&[data-value="78"] div:after { top: 22%; }
		&[data-value="80"] div:after { top: 20%; }
		&[data-value="82"] div:after { top: 18%; }
		&[data-value="84"] div:after { top: 16%; }
		&[data-value="86"] div:after { top: 14%; }
		&[data-value="88"] div:after { top: 12%; }
		&[data-value="90"] div:after { top: 10%; }
		&[data-value="92"] div:after { top: 8%; }
		&[data-value="94"] div:after { top: 6%; }
		&[data-value="96"] div:after { top: 4%; }
		&[data-value="98"] div:after { top: 2%; }
		&[data-value="100"] div:after { top: 0%; }
	}

	.toggle-button {
		position: relative;
		width: 27px;
		height: 18px;
		background: @boxBg;
		border: 2px solid @face;
		border-radius: 3px;
		display: inline-block;
		margin: 2px 0 2px;
		color: @base;
		text-shadow: 0 0 0;

		&.activator {
			height: 25px;
			padding-top: 4px;
			background: @highlight;
			color: darken(@highlight, 29%);
			font-size: 13px;
			font-weight: 400;
		}

		&.solo {
			//background: #5e7790;
			padding-top: 1px;
		}

		&.record {
			//background: #5e7790;
			font-size: 14px;
			line-height: .95;
			color: @face;
		}
	}

	.row-work {
		margin-top: 0;
		display: flex;
		flex: auto;

		> div {
			margin-left: @margin;
		}

		.buttons:first-child {
			margin-left: 0;
			padding: 2px 0 0 0;

			.ball-button {
				left: 2px;

				&.toggled {
					> i {
						top: 4px;
						transform: rotate(180deg);
					}
				}
			}
		}

		.buttons:last-child {
			padding: 2px 0 0 0;
		}
		
		.panel-left {
			--sidebar-width: 210px;
			width: var( --sidebar-width );
			display: flex;
			transition: width 200ms ease,
						margin 200ms ease,
						opacity 200ms ease 100ms;

			&.hide {
				width: 0;
				opacity: 0;
				margin-left: 0;
				transition: width 200ms ease,
							margin 200ms ease 200ms,
							opacity 200ms ease 100ms;
			}

			.scrollbar {
				background: inherit;
				border-radius: 5px 0 0 5px;
				position: absolute;
				top: 137px;
				bottom: 0;
				left: -29px;
				width: 29px;

				&:before {
					content: "";
					background: url(~/icons/negative-corner.png) 50% 50%/contain no-repeat;
					position: absolute;
					right: 0;
					top: -6px;
					width: 6px;
					height: 6px;
				}

				&:after {
					display: none;
					content: "";
					position: absolute;
					top: 9px;
					left: 9px;
					bottom: 9px;
					width: 11px;
					border-radius: 9px;
					background: #1d344c;
					box-shadow: inset 0 0 0 1px @base;
				}
			}

			.panel-content {
				flex: auto;
				border-bottom-left-radius: 0;
			}

			.sidebar {
				position: absolute;
				top: 4px;
				left: 4px;
				right: 4px;
				bottom: 4px;
				perspective: 500px;

				.box-3d {
					position: relative;
					width: 100%;
					height: 100%;
					transform-style: preserve-3d;
					transition: transform 350ms ease;

					> div {
						transform-style: preserve-3d;
						//backface-visibility: hidden;
						position: absolute;
						width: inherit;
						height: inherit;
						display: flex;
						flex-direction: column;
						opacity: 0.5;
						transition: opacity 500ms ease;

						&.sounds-body      { transform: rotateY(   0deg) translateZ( calc( var( --sidebar-width ) / 2) ); }
						&.drums-body       { transform: rotateY(  90deg) translateZ( calc( var( --sidebar-width ) / 2) ); }
						&.instruments-body { transform: rotateY(-180deg) translateZ( calc( var( --sidebar-width ) / 2) ); }
						&.fx-body          { transform: rotateY( -90deg) translateZ( calc( var( --sidebar-width ) / 2) ); }
					}

					.box-title {
						height: 19px;
						padding: 2px 0 0 3px;
						color: @text;
						text-shadow: 0 1px 0 darken(@boxBg, 21%);
					}

					.box-body:not(.audio-chart) {
						flex: auto;
						padding: 2px;
						overflow-x: hidden;
						overflow-y: auto;
					}

					.audio-chart {
						height: 37px;
						margin-top: 3px;
						//background-image: url(~/cache/kick.png);
						background-position: 1px 50%;
						background-repeat: no-repeat;
						cursor: pointer;

						&:before {
							opacity: 0;
							content: "";
							position: absolute;
							top: 0;
							bottom: 0;
							left: 0;
							width: 0%;
							border-right: 1px solid #71a1ca;
							transition: width linear 600ms;
						}

						&.play:before {
							opacity: 1;
							width: 100%;
						}
					}
				}

				&.from-sounds-to-drums,
				&.from-sounds-to-instruments,
				&.from-sounds-to-fx,
				&.from-drums-to-sounds,
				&.from-drums-to-instruments,
				&.from-drums-to-fx,
				&.from-instruments-to-sounds,
				&.from-instruments-to-drums,
				&.from-instruments-to-fx,
				&.from-fx-to-sounds,
				&.from-fx-to-drums,
				&.from-fx-to-instruments {
					.box-3d {
						div.sounds-body,
						div.drums-body,
						div.instruments-body,
						div.fx-body {
							display: flex;
							opacity: 0.5;
							visibility: visible;
						}
					}
				}
				&.from-sounds-to-drums .box-3d       { animation: 800ms soundsToDrums ease-in-out forwards; }
				&.from-sounds-to-instruments .box-3d { animation: 1200ms soundsToInstruments ease-in-out forwards; }
				&.from-sounds-to-fx .box-3d          { animation: 800ms soundsToFx ease-in-out forwards; }
				&.from-drums-to-sounds .box-3d       { animation: 800ms drumsToSounds ease-in-out forwards; }
				&.from-drums-to-instruments .box-3d  { animation: 800ms drumsToInstruments ease-in-out forwards; }
				&.from-drums-to-fx .box-3d           { animation: 1200ms drumsToFx ease-in-out forwards; }
				&.from-instruments-to-sounds .box-3d { animation: 1200ms instrumentsToSounds ease-in-out forwards; }
				&.from-instruments-to-drums .box-3d  { animation: 800ms instrumentsToDrums ease-in-out forwards; }
				&.from-instruments-to-fx .box-3d     { animation: 800ms instrumentsToFx ease-in-out forwards; }
				&.from-fx-to-sounds .box-3d          { animation: 800ms fxToSounds ease-in-out forwards; }
				&.from-fx-to-drums .box-3d           { animation: 1200ms fxToDrums ease-in-out forwards; }
				&.from-fx-to-instruments .box-3d     { animation: 800ms fxToInstruments ease-in-out forwards; }
				

				&.show-sounds {
					.box-3d {
						transform: rotateY(0deg) translateZ( calc( var( --sidebar-width ) / -2) );
					
						.sounds-body { display: flex; opacity: 1; }
						.drums-body,
						.instruments-body,
						.fx-body { display: none; }
					}
				}

				&.show-drums {
					.box-3d {
						transform: rotateY(-90deg) translateX( calc( var( --sidebar-width ) / -2) );
					
						.drums-body { display: flex; opacity: 1; }
						.sounds-body,
						.instruments-body,
						.fx-body { display: none; }
					}
				}

				&.show-instruments {
					.box-3d {
						transform: rotateY(180deg) translateZ( calc( var( --sidebar-width ) / 2) );
					
						.instruments-body { display: flex; opacity: 1; }
						.drums-body,
						.sounds-body,
						.fx-body { display: none; }
					}
				}

				&.show-fx {
					.box-3d {
						transform: rotateY(90deg) translateX( calc( var( --sidebar-width ) / 2) );
					
						.fx-body { display: flex; opacity: 1; }
						.sounds-body,
						.instruments-body,
						.drums-body { display: none; }
					}
				}
			}

			.item {
				padding: 4px 3px 4px 3px;
				border-radius: 2px;

				&:not(:first-child) {
					margin-top: 1px;
				}

				&.active {
					background-color: lighten(@boxBg, 5%);
					color: @text;
				}
			}

			.folder {				
				position: relative;
				box-shadow: 0 0 0 transparent;
				transition: box-shadow 400ms ease;

				&:not(:first-child) {
					margin-top: 1px;
				}

				&.open {
					box-shadow: 0 1px 0 transparent;

					> i         { transform: rotate(180deg); }
					> span      { color: @text; }
					> div > div { margin-top: 0; }
				}

				i {
					position: absolute;
					top: 5px;
					left: 6px;
					width: 10px;
					height: 10px;
					transform: rotate(90deg);
					filter: brightness(1.75);
					margin-right: 7px;
					transition: transform 100ms ease;
				}

				span {
					position: relative;
					display: block;
					padding: 4px 3px 4px 23px;
					z-index: 2;

					&:hover { color: @text; }
				}

				> div {
					position: relative;
					overflow: hidden;

					> div {
						margin-top: -100%;
						transition: margin-top 400ms ease;

						> .item {
							background-position: 16px 50%;
							padding-left: 35px;
						}
					}
				}
			}
			.item {
				background: url(~/icons/icon-audio.png) 4px 50% no-repeat;
				background-size: auto 80%;
				padding-left: 23px;
			}
		}

		.panel-right {
			flex: auto;
			display: flex;

			.scrollbar {
				background: inherit;
				border-radius: 0 5px 5px 0;
				position: absolute;
				top: 57px;
				bottom: 0;
				right: -29px;
				width: 29px;

				&:before {
					content: "";
					background: url(~/icons/negative-corner.png) 50% 50%/contain no-repeat;
					position: absolute;
					left: 0;
					top: -6px;
					width: 6px;
					height: 6px;
					transform: rotate(90deg);
				}

				&:after {
					display: none;
					content: "";
					position: absolute;
					top: 9px;
					left: 9px;
					bottom: 9px;
					width: 11px;
					border-radius: 9px;
					background: #1d344c;
					box-shadow: inset 0 0 0 1px @base;
				}
			}

			.session-wrapper {
				flex: auto;
				display: flex;
				border-bottom-right-radius: 0;

				.session {
					display: flex;
					flex: auto;

					.tracks-wrapper {
						position: relative;
						display: flex;
						flex: auto;
						margin-right: 3px;

						.tracks {
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							overflow-x: auto;
							// white-space: nowrap;
							// font-size: 0;
							display: flex;
						}
					}

					.io-master {
						width: 276px;
						display: flex;
					}
				}
			}

			.track-wrapper {
				min-width: 90px;
				height: 100%;
				display: flex;
				margin-right: 3px;

				&:last-child { margin-right: 0; }
			}

			.track {
				display: flex;
				flex-direction: column;
				position: relative;
				width: 100%;
				height: 100%;
				border-radius: 3px;
				white-space: normal;

				> div {
					background: @boxBg;
					margin-bottom: 1px;

					&:first-child { border-radius: 3px 3px 0 0; }
					&:last-child { border-radius: 1px 1px 3px 3px; margin-bottom: 0; }
				}

				.title {
					background: lighten(@boxBg, 4%);
					color: @text;
					text-shadow: 0 1px 0 darken(@boxBg, 13%);
					box-shadow: inset 0 1px 0 lighten(@boxBg, 9%);
					height: 20px;
					padding: 4px 5px;
				}

				.slots {
					flex: auto;
					display: flex;
					flex-direction: column;
					background: transparent;

					> div {
						background: @boxBg;
						border-radius: 0;
						margin-bottom: 1px;

						&.slot {
							height: 21px;
						}

						&.space {
							margin: 0 0 1px;
						}

						&.status {
							height: 21px;
							border-radius: 0 0 2px 2px;
						}
					}
				}

				.io {
					height: 47px;
					border-radius: 2px 2px 0 0;
				}

				.sends {
					height: 48px;
					padding-top: 5px;
					text-align: center;
				}

				.mixer {
					display: flex;
					justify-content: space-evenly;
					height: 126px;
					padding-top: 9px;
					text-align: center;
					box-shadow: 0 1px 0 darken(@boxBg, 15%);

					> div:first-child {
						width: 36px;
					}

					.pan-knob {
						margin: 0 0 2px;
					}
				}
			}
		}
	}

	.panel-bottom {
		height: 183px;
		display: flex;
		transition: height 200ms ease,
					margin 200ms ease,
					opacity 200ms ease 100ms;

		&.hide {
			height: 0;
			opacity: 0;
			margin-top: 0;
		}

		.rack {
			flex: auto;
			display: flex;
			
			&.show-devices .devices-body,
			&.show-drumkit .drumkit-body,
			&.show-midi .midi-body {
				display: flex;
			}

			> div {
				display: none;
				flex: auto;

				> div {
					padding: 5px;
					
					&:not(:first-child) {
						margin-left: 3px;
					}

					> .title {
						height: 17px;
						padding: 0 5px;
						border-bottom: 1px solid @face;
						margin: -1px -5px 5px;
					}
				}
			}
		}

		.sd-box,
		.aed-box,
		.fr-box {
			display: flex;
			flex-direction: column;

			.graph {
				background: @base;
				border-radius: 3px;
				padding: 4px;

				.sample {
					//background: red;
				}

				svg {
					//background: red;

					.shape {
						fill: none;
						stroke: saturate(lighten(@boxBg, 29%), 59%);
						stroke-width: 1.5;
					}

					.handle {
						fill: @base;
						stroke: @highlight;
						stroke-width: 2;
					}
				}

				.values {
					border-top: 1px solid @face;
					height: 13px;
					margin-top: 3px;
				}
			}

			.controls {
				padding: 3px 0 0;
				display: flex;

				> div {
					position: relative;
					margin-right: 17px;

					&:last-child {
						flex: auto;
						margin-right: 0;
						text-align: right;

						> span {
							left: auto;
							width: 40px;
						}
					}

					> span {
						position: absolute;
						top: -16px;
						left: 0;
						right: 0;
						font-size: 10px;
						text-align: center;
						color: lighten(@boxBg, 7%);
					}
				}

				.knob {
					transform: scale(.85);
				}
			}
		}

		.fr-box {
			width: 222px;

			.graph {
				svg {
					width: 204px;
					height: 75px;
				}
			}
		}

		.aed-box {
			width: 339px;

			.graph {
				svg {
					width: 321px;
					height: 75px;
				}
			}
		}

		.sd-box {
			width: 480px;

			.graph {
				.sample {
					background: url(~/cache/snare.png) 50% 50%/contain no-repeat;
					width: 460px;
					height: 76px;
				}
			}
			.controls {
				> div {
					&:first-child {
						flex: auto;
					}
					&:last-child {
						flex: initial;
					}
				}
			}

		}

		.drumkit-body {
			.controls {
				width: 220px;
			}
			.sequencer {
				flex: auto;
				display: flex;
				padding: 0;

				.instruments {
					width: 140px;
					display: flex;
					flex-direction: column;

					.head { border-radius: 3px 0 0 0; }
					.body { border-radius: 0 0 0 3px; }
					.row {
						padding: 5px 5px 6px 7px;
						border-bottom: 1px solid @face;
						font-size: 11px;
					}
				}

				.steps {
					flex: 1;
					display: flex;
					flex-direction: column;

					.head { border-radius: 0 3px 0 0; }
					.body {
						border-radius: 0 0 3px 0;
						overflow: auto;
					}
				}

				.head {
					height: 17px;
					background: @boxBg;
					box-shadow: inset 0 1px 0 lighten(@boxBg, 3%);
					margin-bottom: 1px;
					white-space: nowrap;
					font-size: 0;

					.step {
						position: relative;
						display: inline-block;
						width: 43px;
						height: 100%;
						border: 0;
						border-right: 1px solid transparent;

						&.active:before {
							background: @highlight;
							box-shadow: 0 1px 0 @face;
						}

						&:nth-child(4n + 1) {
							border-left: 1px solid @face;
						}
						&:nth-child(4n) {
							border-right-color: @face;
						}
						&:first-child {
							border-left-width: 2px;
						}
						&:last-child {
							border-right: 1px solid @face;
						}
						&:before {
							content: "";
							position: absolute;
							top: 50%;
							left: 50%;
							width: 8px;
							height: 8px;
							margin: -4px 0 0 -4px;
							border-radius: 50%;
							background: @face;
						}
					}
				}
				
				.body {
					flex: 1;
					background: @boxBg;
					box-shadow: 0 1px 0 darken(@boxBg, 15%);
					white-space: nowrap;
				}

				.row {
					height: 23px;
					font-size: 0;

					&:last-child .step:last-child {
						border-bottom-right-radius: 3px;
					}

					.step {
						display: inline-block;
						width: 43px;
						height: 100%;
						border-right: 1px solid @face;
						border-bottom: 1px solid @face;
						font: 12px;

						&.active {
							background: lighten(@boxBg, 5%);
						}

						&:nth-child(4n + 1) {
							border-left: 1px solid @face;
						}
						&:first-child {
							border-left-width: 2px;
						}
					}
				}
			}
		}
	}

	.row-foot {
		height: 30px;
		display: flex;

		> div {
			margin-left: @margin;
		}

		.status-bar {
			flex: auto;
			margin-left: 0;
		}

		.foot-devices,
		.foot-drumkit,
		.foot-midi {
			cursor: pointer;

			.box-body {
				padding: 5px 10px 0;
				text-shadow: 0 1px 0 darken(@boxBg, 17%);
				color: darken(@text, 7%);
			}

			&:hover:not(.active) .box-body {
				color: lighten(@text, 11%);
			}

			&.active {
				cursor: default;
				border-radius: 5px;

				&:before,
				&:after {
					content: "";
					background: url(~/icons/negative-corner.png) 50% 50%/contain no-repeat;
					position: absolute;
					left: -8px;
					top: -4px;
					width: 8px;
					height: 8px;
					transform: rotate(270deg);
					transition: opacity 60ms ease;
				}

				&:after {
					left: auto;
					right: -8px;
					transform: rotate(180deg);
				}

				&.hidden {
					&:before,
					&:after {
						opacity: 0;
						transition: opacity 60ms ease 100ms;
					}
					.box-body {
						background: @boxBg;
						padding-top: 5px;

						&:before {
							opacity: 0;
							transition: opacity 60ms ease 100ms;
						}
					}
				}

				.box-body {
					background: transparent;
					color: @text;
					text-shadow: 0 1px 0 darken(@boxBg, 13%);
					box-shadow: 0 0 0;
					padding-top: 4px;

					&:before {
						content: "";
						background: @face;
						position: absolute;
						top: -8px;
						left: -4px;
						right: -4px;
						height: 8px;
						transition: opacity 60ms ease;
					}
				}
			}

		}

		.ball-button {
			top: 3px;

			&.toggled {
				> i {
					left: 2px;
					transform: rotate(-90deg);
				}
			}
		}
	}

	i[class*="icon-"] {
		background: 50% 50%/contain no-repeat;
		position: relative;
		display: inline-block;
		width: 17px;
		height: 17px;

		&.icon-sounds      { background-image: url(~/icons/icon-sounds.png); }
		&.icon-drums       { background-image: url(~/icons/icon-drums.png); }
		&.icon-instruments { background-image: url(~/icons/icon-instruments.png); }
		&.icon-audio_fx    { background-image: url(~/icons/icon-audio_fx.png); }
		&.icon-arrangement { background-image: url(~/icons/icon-arrangement.png); }
		&.icon-session     { background-image: url(~/icons/icon-session.png); }
		&.icon-arrow_up    { background-image: url(~/icons/icon-arrow_up.png); }
		&.icon-arrow_up.right { transform: rotate(90deg); }
	}
}


@keyframes soundsToDrums {
	0%   { transform: translateZ( calc( var( --sidebar-width ) / -2) ) rotateY(0deg); }
	30%  { transform: translateZ( calc( var( --sidebar-width ) * -1) ) rotateY(0deg); }
	70%  { transform: translateZ( calc( var( --sidebar-width ) * -1) ) rotateY(-90deg); }
	100% { transform: translateZ( calc( var( --sidebar-width ) / -2) ) rotateY(-90deg); }
}

@keyframes soundsToInstruments {
	0%   { transform: translateZ( calc( var( --sidebar-width ) / -2) ) rotateY(0deg); }
	15%  { transform: translateZ( calc( var( --sidebar-width ) * -1) ) rotateY(0deg); }
	85%  { transform: translateZ( calc( var( --sidebar-width ) * -1) ) rotateY(-180deg); }
	100% { transform: translateZ( calc( var( --sidebar-width ) / -2) ) rotateY(-180deg); }
}

@keyframes soundsToFx {
	0%   { transform: translateZ( calc( var( --sidebar-width ) / -2) ) rotateY(0deg); }
	30%  { transform: translateZ( calc( var( --sidebar-width ) * -1) ) rotateY(0deg); }
	70%  { transform: translateZ( calc( var( --sidebar-width ) * -1) ) rotateY(90deg); }
	100% { transform: translateZ( calc( var( --sidebar-width ) / -2) ) rotateY(90deg); }
}

@keyframes drumsToSounds {
	0%   { transform: translateZ( calc( var( --sidebar-width ) / -2) ) rotateY(-90deg); }
	30%  { transform: translateZ( calc( var( --sidebar-width ) * -1) ) rotateY(-90deg); }
	70%  { transform: translateZ( calc( var( --sidebar-width ) * -1) ) rotateY(0deg); }
	100% { transform: translateZ( calc( var( --sidebar-width ) / -2) ) rotateY(0deg); }
}

@keyframes drumsToInstruments {
	0%   { transform: translateZ( calc( var( --sidebar-width ) / -2) ) rotateY(-90deg); }
	30%  { transform: translateZ( calc( var( --sidebar-width ) * -1) ) rotateY(-90deg); }
	70%  { transform: translateZ( calc( var( --sidebar-width ) * -1) ) rotateY(-180deg); }
	100% { transform: translateZ( calc( var( --sidebar-width ) / -2) ) rotateY(-180deg); }
}

@keyframes drumsToFx {
	0%   { transform: translateZ( calc( var( --sidebar-width ) / -2) ) rotateY(-90deg); }
	15%  { transform: translateZ( calc( var( --sidebar-width ) * -1) ) rotateY(-90deg); }
	85%  { transform: translateZ( calc( var( --sidebar-width ) * -1) ) rotateY(90deg); }
	100% { transform: translateZ( calc( var( --sidebar-width ) / -2) ) rotateY(90deg); }
}

@keyframes instrumentsToSounds {
	0%   { transform: translateZ( calc( var( --sidebar-width ) / -2) ) rotateY(-180deg); }
	15%  { transform: translateZ( calc( var( --sidebar-width ) * -1) ) rotateY(-180deg); }
	85%  { transform: translateZ( calc( var( --sidebar-width ) * -1) ) rotateY(0deg); }
	100% { transform: translateZ( calc( var( --sidebar-width ) / -2) ) rotateY(0deg); }
}

@keyframes instrumentsToDrums {
	0%   { transform: translateZ( calc( var( --sidebar-width ) / -2) ) rotateY(-180deg); }
	30%  { transform: translateZ( calc( var( --sidebar-width ) * -1) ) rotateY(-180deg); }
	70%  { transform: translateZ( calc( var( --sidebar-width ) * -1) ) rotateY(-90deg); }
	100% { transform: translateZ( calc( var( --sidebar-width ) / -2) ) rotateY(-90deg); }
}

@keyframes instrumentsToFx {
	0%   { transform: translateZ( calc( var( --sidebar-width ) / -2) ) rotateY(-180deg); }
	30%  { transform: translateZ( calc( var( --sidebar-width ) * -1) ) rotateY(-180deg); }
	70%  { transform: translateZ( calc( var( --sidebar-width ) * -1) ) rotateY(-270deg); }
	100% { transform: translateZ( calc( var( --sidebar-width ) / -2) ) rotateY(-270deg); }
}

@keyframes fxToSounds {
	0%   { transform: translateZ( calc( var( --sidebar-width ) / -2) ) rotateY(90deg); }
	30%  { transform: translateZ( calc( var( --sidebar-width ) * -1) ) rotateY(90deg); }
	70%  { transform: translateZ( calc( var( --sidebar-width ) * -1) ) rotateY(0deg); }
	100% { transform: translateZ( calc( var( --sidebar-width ) / -2) ) rotateY(0deg); }
}

@keyframes fxToDrums {
	0%   { transform: translateZ( calc( var( --sidebar-width ) / -2) ) rotateY(90deg); }
	15%  { transform: translateZ( calc( var( --sidebar-width ) * -1) ) rotateY(90deg); }
	85%  { transform: translateZ( calc( var( --sidebar-width ) * -1) ) rotateY(-90deg); }
	100% { transform: translateZ( calc( var( --sidebar-width ) / -2) ) rotateY(-90deg); }
}

@keyframes fxToInstruments {
	0%   { transform: translateZ( calc( var( --sidebar-width ) / -2) ) rotateY(90deg); }
	30%  { transform: translateZ( calc( var( --sidebar-width ) * -1) ) rotateY(90deg); }
	70%  { transform: translateZ( calc( var( --sidebar-width ) * -1) ) rotateY(180deg); }
	100% { transform: translateZ( calc( var( --sidebar-width ) / -2) ) rotateY(180deg); }
}


@keyframes spectrum {
	0% { transform: scaleY(0.2); }
	40% { transform: scaleY(0.6); }
	50% { transform: scaleY(0.1); }
	60% { transform: scaleY(0.3); }
	80% { transform: scaleY(0.4); }
	100% { transform: scaleY(0.2); }
}
