
@margin: 4px;

background: #182c40;

content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	padding: @margin + 1px;

	&.hide-cursor:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 999;
		background: transparent;
		cursor: none;
	}

	> div {
		margin-top: @margin;
	}

	.box {
		background: #294a6b;
		position: relative;
		padding: @margin;
		border-radius: 5px;

		.box-body {
			background: #466788;
			position: relative;
			width: 100%;
			height: 100%;
			border-radius: 3px;
		}
	}

	.buttons {
		width: 25px;
	}

	.ball-button {
		background: #294a6b;
		position: relative;
		width: 23px;
		height: 23px;
		border-radius: 50%;
		margin-bottom: @margin;

		&.active {
			i[class*="icon-"] {
				background-size: 85% auto;
				filter: brightness(5) hue-rotate(30deg) drop-shadow(0 1px 0 #335);
			}
		}

		i[class*="icon-"] {
			top: 3px;
			left: 3px;
		}
	}

	.knob {
		position: relative;
		display: inline-block;
		width: 34px;
		height: 34px;
		margin: 1px 3px 0;
		background: url(~/icons/knob.png) no-repeat;
		background-size: 100% auto;
		//background-color: rgba(0,0,0,.1);

		&:before {
			content: attr(data-label);
			position: absolute;
			bottom: -3px;
			left: 20%;
			right: 20%;
			font-size: 11px;
			font-weight: 600;
			color: #254565;
			z-index: 3;
			pointer-events: none;
		}

		&[data-value="0"] { background-position: 0 -13px; } 
		&[data-value="2"] { background-position: 0 -47px; }
		&[data-value="4"] { background-position: 0 -81px; }
		&[data-value="6"] { background-position: 0 -115px; }
		&[data-value="8"] { background-position: 0 -149px; }
		&[data-value="10"] { background-position: 0 -183px; }
		&[data-value="12"] { background-position: 0 -217px; }
		&[data-value="14"] { background-position: 0 -251px; }
		&[data-value="16"] { background-position: 0 -285px; }
		&[data-value="18"] { background-position: 0 -319px; }
		&[data-value="20"] { background-position: 0 -353px; }
		&[data-value="22"] { background-position: 0 -387px; }
		&[data-value="24"] { background-position: 0 -421px; }
		&[data-value="26"] { background-position: 0 -455px; }
		&[data-value="28"] { background-position: 0 -489px; }
		&[data-value="30"] { background-position: 0 -523px; }
		&[data-value="32"] { background-position: 0 -557px; }
		&[data-value="34"] { background-position: 0 -591px; }
		&[data-value="36"] { background-position: 0 -625px; }
		&[data-value="38"] { background-position: 0 -659px; }
		&[data-value="40"] { background-position: 0 -693px; }
		&[data-value="42"] { background-position: 0 -727px; }
		&[data-value="44"] { background-position: 0 -761px; }
		&[data-value="46"] { background-position: 0 -795px; }
		&[data-value="48"] { background-position: 0 -829px; }
		&[data-value="50"] { background-position: 0 -863px; }
		&[data-value="52"] { background-position: 0 -897px; }
		&[data-value="54"] { background-position: 0 -931px; }
		&[data-value="56"] { background-position: 0 -965px; }
		&[data-value="58"] { background-position: 0 -999px; }
		&[data-value="60"] { background-position: 0 -1033px; }
		&[data-value="62"] { background-position: 0 -1067px; }
		&[data-value="64"] { background-position: 0 -1101px; }
		&[data-value="66"] { background-position: 0 -1135px; }
		&[data-value="68"] { background-position: 0 -1169px; }
		&[data-value="70"] { background-position: 0 -1203px; }
		&[data-value="72"] { background-position: 0 -1237px; }
		&[data-value="74"] { background-position: 0 -1271px; }
		&[data-value="76"] { background-position: 0 -1305px; }
		&[data-value="78"] { background-position: 0 -1339px; }
		&[data-value="80"] { background-position: 0 -1373px; }
		&[data-value="82"] { background-position: 0 -1407px; }
		&[data-value="84"] { background-position: 0 -1441px; }
		&[data-value="86"] { background-position: 0 -1475px; }
		&[data-value="88"] { background-position: 0 -1509px; }
		&[data-value="90"] { background-position: 0 -1543px; }
		&[data-value="92"] { background-position: 0 -1577px; }
		&[data-value="94"] { background-position: 0 -1611px; }
		&[data-value="96"] { background-position: 0 -1645px; }
		&[data-value="98"] { background-position: 0 -1679px; }
		&[data-value="100"] { background-position: 0 -1713px; }
	}

	.pan-knob {
		position: relative;
		display: inline-block;
		width: 34px;
		height: 34px;
		margin: 1px 3px 0;
		background: url(~/icons/pan-knob.png) no-repeat;
		background-size: 100% auto;

		&[data-value="-50"] { background-position: 0 -13px;  }
		&[data-value="-48"] { background-position: 0 -47px; }
		&[data-value="-46"] { background-position: 0 -81px; }
		&[data-value="-44"] { background-position: 0 -115px; }
		&[data-value="-42"] { background-position: 0 -149px; }
		&[data-value="-40"] { background-position: 0 -183px; }
		&[data-value="-38"] { background-position: 0 -217px; }
		&[data-value="-36"] { background-position: 0 -251px; }
		&[data-value="-34"] { background-position: 0 -285px; }
		&[data-value="-32"] { background-position: 0 -319px; }
		&[data-value="-30"] { background-position: 0 -353px; }
		&[data-value="-28"] { background-position: 0 -387px; }
		&[data-value="-26"] { background-position: 0 -421px; }
		&[data-value="-24"] { background-position: 0 -455px; }
		&[data-value="-22"] { background-position: 0 -489px; }
		&[data-value="-20"] { background-position: 0 -523px; }
		&[data-value="-18"] { background-position: 0 -557px; }
		&[data-value="-16"] { background-position: 0 -591px; }
		&[data-value="-14"] { background-position: 0 -625px; }
		&[data-value="-12"] { background-position: 0 -659px; }
		&[data-value="-10"] { background-position: 0 -693px; }
		&[data-value="-8"] { background-position: 0 -727px; }
		&[data-value="-6"] { background-position: 0 -761px; }
		&[data-value="-4"] { background-position: 0 -795px; }
		&[data-value="-2"] { background-position: 0 -829px; }
		&[data-value="0"] { background-position: 0 -863px; }
		&[data-value="2"] { background-position: 0 -897px; }
		&[data-value="4"] { background-position: 0 -931px; }
		&[data-value="6"] { background-position: 0 -965px; }
		&[data-value="8"] { background-position: 0 -999px; }
		&[data-value="10"] { background-position: 0 -1033px; }
		&[data-value="12"] { background-position: 0 -1067px; }
		&[data-value="14"] { background-position: 0 -1101px; }
		&[data-value="16"] { background-position: 0 -1135px; }
		&[data-value="18"] { background-position: 0 -1169px; }
		&[data-value="20"] { background-position: 0 -1203px; }
		&[data-value="22"] { background-position: 0 -1237px; }
		&[data-value="24"] { background-position: 0 -1271px; }
		&[data-value="26"] { background-position: 0 -1305px; }
		&[data-value="28"] { background-position: 0 -1339px; }
		&[data-value="30"] { background-position: 0 -1373px; }
		&[data-value="32"] { background-position: 0 -1407px; }
		&[data-value="34"] { background-position: 0 -1441px; }
		&[data-value="36"] { background-position: 0 -1475px; }
		&[data-value="38"] { background-position: 0 -1509px; }
		&[data-value="40"] { background-position: 0 -1543px; }
		&[data-value="42"] { background-position: 0 -1577px; }
		&[data-value="44"] { background-position: 0 -1611px; }
		&[data-value="46"] { background-position: 0 -1645px; }
		&[data-value="48"] { background-position: 0 -1679px; }
		&[data-value="50"] { background-position: 0 -1713px; }
	}

	.volume {
		background: #182c40;
		position: relative;
		width: 10px;
		height: 108px;
		border: 2px solid #294a6b;
		border-radius: 3px;
		display: inline-block;
		//vertical-align: top;
		margin-left: 3px;
		margin-right: 11px;

		&.anim:after {
			animation: 1000ms spectrum linear infinite backwards;
		}

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 2px;
			background: linear-gradient(0deg, #0f0 0%, #96f 75%, #f00 100%);
		}

		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 100%;
			//transform: scaleY(0.3);
			transform-origin: 0 0;
			border-radius: 2px 2px 0 0;
			background: inherit;
		}

		div {
			position: absolute;
			top: 0;
			bottom: 0;
			right: -13px;
			width: 7px;
			border-top: 1px solid #294a6b;
			border-bottom: 1px solid #294a6b;

			&:before {
				content: "0";
				position: absolute;
				top: 12%;
				height: 1px;
				right: -6px;
				border-left: 5px solid #294a6b;
				padding-left: 1px;
				line-height: .15;
				font-size: 11px;
				font-weight: 600;
				color: #254565;
			}

			&:after {
				content: "";
				background: #466788;
				position: absolute;
				top: 12%;
				left: -17px;
				height: 3px;
				width: 10px;
				margin-top: -1px;
				z-index: 2;
				border-left: 3px solid #b6c5ff;
				border-right: 3px solid #b6c5ff;
			}
		}

		&[data-value="0"] div:after { top: 100%; }
		&[data-value="2"] div:after { top: 98%; }
		&[data-value="4"] div:after { top: 96%; }
		&[data-value="6"] div:after { top: 94%; }
		&[data-value="8"] div:after { top: 92%; }
		&[data-value="10"] div:after { top: 90%; }
		&[data-value="12"] div:after { top: 88%; }
		&[data-value="14"] div:after { top: 86%; }
		&[data-value="16"] div:after { top: 84%; }
		&[data-value="18"] div:after { top: 82%; }
		&[data-value="20"] div:after { top: 80%; }
		&[data-value="22"] div:after { top: 78%; }
		&[data-value="24"] div:after { top: 76%; }
		&[data-value="26"] div:after { top: 74%; }
		&[data-value="28"] div:after { top: 72%; }
		&[data-value="30"] div:after { top: 70%; }
		&[data-value="32"] div:after { top: 68%; }
		&[data-value="34"] div:after { top: 66%; }
		&[data-value="36"] div:after { top: 64%; }
		&[data-value="38"] div:after { top: 62%; }
		&[data-value="40"] div:after { top: 60%; }
		&[data-value="42"] div:after { top: 58%; }
		&[data-value="44"] div:after { top: 56%; }
		&[data-value="46"] div:after { top: 54%; }
		&[data-value="48"] div:after { top: 52%; }
		&[data-value="50"] div:after { top: 50%; }
		&[data-value="52"] div:after { top: 48%; }
		&[data-value="54"] div:after { top: 46%; }
		&[data-value="56"] div:after { top: 44%; }
		&[data-value="58"] div:after { top: 42%; }
		&[data-value="60"] div:after { top: 40%; }
		&[data-value="62"] div:after { top: 38%; }
		&[data-value="64"] div:after { top: 36%; }
		&[data-value="66"] div:after { top: 34%; }
		&[data-value="68"] div:after { top: 32%; }
		&[data-value="70"] div:after { top: 30%; }
		&[data-value="72"] div:after { top: 28%; }
		&[data-value="74"] div:after { top: 26%; }
		&[data-value="76"] div:after { top: 24%; }
		&[data-value="78"] div:after { top: 22%; }
		&[data-value="80"] div:after { top: 20%; }
		&[data-value="82"] div:after { top: 18%; }
		&[data-value="84"] div:after { top: 16%; }
		&[data-value="86"] div:after { top: 14%; }
		&[data-value="88"] div:after { top: 12%; }
		&[data-value="90"] div:after { top: 10%; }
		&[data-value="92"] div:after { top: 8%; }
		&[data-value="94"] div:after { top: 6%; }
		&[data-value="96"] div:after { top: 4%; }
		&[data-value="98"] div:after { top: 2%; }
		&[data-value="100"] div:after { top: 0%; }
	}

	.toggle-button {
		position: relative;
		width: 27px;
		height: 18px;
		background: #466788;
		border: 2px solid #294a6b;
		border-radius: 3px;
		display: inline-block;
		margin: 2px 0 2px;
		color: #182c40;

		&.activator {
			height: 27px;
			padding-top: 5px;
			background: #b92;
			font-size: 13px;
			font-weight: 700;
		}

		&.solo {
			//background: #5e7790;
			padding-top: 1px;
			font-size: 11px;
		}

		&.record {
			//background: #5e7790;
			font-size: 14px;
			line-height: .95;
			color: #294a6b;
		}
	}

	.row-work {
		margin-top: 0;
		display: flex;
		flex: auto;

		> div {
			margin-left: @margin;
		}

		.buttons:first-child {
			margin-left: 0;
			padding: 2px 0 0 0;

			.ball-button {
				left: 2px;
			}
		}

		.buttons:last-child {
			padding: 2px 0 0 0;
		}
		
		.panel-left {
			width: 200px;
			display: flex;

			.scrollbar {
				background: inherit;
				border-radius: 5px 0 0 5px;
				position: absolute;
				top: 137px;
				bottom: 0;
				left: -29px;
				width: 29px;

				&:before {
					content: "";
					background: url(~/icons/negative-corner.png) 50% 50%/contain no-repeat;
					position: absolute;
					right: 0;
					top: -6px;
					width: 6px;
					height: 6px;
				}
			}

			.tree {
				flex: auto;
				border-bottom-left-radius: 0;
			}
		}

		.panel-right {
			flex: auto;
			display: flex;

			.scrollbar {
				background: inherit;
				border-radius: 0 5px 5px 0;
				position: absolute;
				top: 57px;
				bottom: 0;
				right: -29px;
				width: 29px;

				&:before {
					content: "";
					background: url(~/icons/negative-corner.png) 50% 50%/contain no-repeat;
					position: absolute;
					left: 0;
					top: -6px;
					width: 6px;
					height: 6px;
					transform: rotate(90deg);
				}
			}

			.session {
				flex: auto;
				display: flex;
				border-bottom-right-radius: 0;

				.track {
					display: flex;
					flex-direction: column;
					position: relative;
					width: 90px;
					height: 100%;
					border-radius: 3px;
					margin-right: 3px;
					font-size: 11px;

					&:last-child { margin-right: 0; }

					> div {
						background: #466788;
						margin-bottom: 1px;

						&:first-child { border-radius: 3px 3px 1px 1px; }
						&:last-child { border-radius: 1px 1px 3px 3px; margin-bottom: 0; }
					}

					.title {
						background: #5e7790;
						color: #b7cbe0;
						text-shadow: 0 1px 0 #335;
						height: 20px;
						padding: 4px 5px;
					}

					.slots {
						flex: auto;
						display: flex;
						flex-direction: column;
						background: transparent;

						> div {
							background: #466788;
							border-radius: 1px;
							margin-bottom: 1px;
						}

						.slot {
							height: 21px;
						}

						.space {
							flex: auto;
							margin: 0 0 1px;
						}
					}

					.status {
						height: 21px;
					}

					.io {
						height: 81px;
					}

					.sends {
						height: 45px;
						padding-top: 5px;
						text-align: center;
					}

					.mixer {
						display: flex;
						justify-content: space-evenly;
						height: 124px;
						padding-top: 8px;
						text-align: center;

						> div:first-child {
							width: 36px;
							margin-left: 1px;
						}

						.pan-knob {
							margin-top: 1px;
							margin-bottom: 5px;
						}
					}
				}

				.space {
					flex: auto;
					background: #395d82;
					border-radius: 3px;
					margin-right: 3px;
				}
			}
		}
	}

	.row-rack {
		height: 170px;
		display: flex;

		.rack {
			flex: auto;
		}
	}

	.row-foot {
		height: 30px;
		display: flex;

		> div {
			margin-left: @margin;
		}

		.status-bar {
			flex: auto;
			margin-left: 0;
		}

		.option-1,
		.option-2 {
			color: #57a;
			text-shadow: 0 1px 0 #335;
			padding: 10px 13px 8px;
			cursor: pointer;

			&:hover:not(.active) {
				color: #8ac;
			}

			&.active {
				color: #ddf;
				cursor: default;
				padding: 9px 13px;
				border-radius: 0 0 5px 5px;
				margin-top: -5px;
				border-top: 5px solid #294a6b;

				&:before,
				&:after {
					content: "";
					background: url(~/icons/negative-corner.png) 50% 50%/contain no-repeat;
					position: absolute;
					left: -8px;
					top: -4px;
					width: 8px;
					height: 8px;
					transform: rotate(270deg);
				}
				&:after {
					left: auto;
					right: -8px;
					transform: rotate(180deg);
				}
			}
		}

		.ball-button {
			top: 3px;
		}
	}

	i[class*="icon-"] {
		background: 50% 50%/contain no-repeat;
		position: relative;
		display: inline-block;
		width: 17px;
		height: 17px;

		&.icon-sounds      { background-image: url(~/icons/icon-sounds.png); }
		&.icon-drums       { background-image: url(~/icons/icon-drums.png); }
		&.icon-instruments { background-image: url(~/icons/icon-instruments.png); }
		&.icon-audio_fx    { background-image: url(~/icons/icon-audio_fx.png); }
		&.icon-arrangement { background-image: url(~/icons/icon-arrangement.png); }
		&.icon-session     { background-image: url(~/icons/icon-session.png); }
		&.icon-arrow_up    { background-image: url(~/icons/icon-arrow_up.png); }
		&.icon-arrow_up.right { transform: rotate(90deg); }
	}
}


@keyframes spectrum {
	0% { transform: scaleY(0.2); }
	40% { transform: scaleY(0.6); }
	50% { transform: scaleY(0.1); }
	60% { transform: scaleY(0.3); }
	80% { transform: scaleY(0.4); }
	100% { transform: scaleY(0.2); }
}
