
@bg: #182c40;
@text: #b7cbe0;

.tools-left {
	width: calc(50% - 140px);
	text-align: right;

	> div:last-child {
		margin-right: 0;
	}
}

.display {
	width: 210px;
	height: 31px;
	padding-left: 17px;
	padding-right: 17px;

	&:after {
		content: "";
		position: absolute;
		top: -3px;
		bottom: 3px;
		left: 18px;
		right: 18px;
		z-index: 2;
		pointer-events: none;
		background: linear-gradient(180deg, rgba(230,230,255,.25) 0%, transparent 31%);
		border-radius: 3px;
	}

	&.show-bar-beat {

	}

	&.show-time .toolbar-field_ span {
		&.hr,
		&.min,
		&.sec { display: block; }

		&.bar,
		&.beat,
		&.th16 { display: none; }
	}

	.toolbar-field_ {
		position: absolute;
		left: 0;
		bottom: 1px;
		z-index: 3;
		font-size: 9px;
		text-transform: uppercase;
		color: lighten(@bg, 27%);
		height: 13px;
		line-height: 1;
		background: transparent;
		box-shadow: 0 0 0;
		border: 0;

		span {
			position: absolute;

			&.bar:before,
			&.beat:before,
			&.th16:before {
				content: ".";
				position: absolute;
				top: -15px;
				left: -7px;
				font-size: 15px;
				font-family: Lucida Console;
				color: @text;
				opacity: .25;
			}

			&.bar {
				left: 31px;

				&:before {
					content: "0";
					font-size: 17px;
					top: -16px;
					left: -2px;
					opacity: .15;
				}
			}

			&.beat {
				left: 55px;

				&:before { left: -4px; }
			}

			&.th16 {
				left: 80px;
			}

			&.tempo {
				left: 146px;

				&:before {
					content: "";
					background: transparent;
					position: absolute;
					top: -20px;
					left: -2px;
					right: -2px;
					bottom: 0;
					cursor: ns-resize;
				}
			}

			&.hr {
				left: 35px;
				display: none;
			}

			&.min {
				left: 63px;
				display: none;

				&:before {
					content: ":";
					position: absolute;
					top: -17px;
					left: -11px;
					font-size: 15px;
					font-family: Lucida Console;
					color: @text;
					opacity: .25;
				}
			}

			&.sec {
				left: 94px;
				display: none;

				&:before {
					content: ".";
					position: absolute;
					top: -15px;
					left: -12px;
					font-size: 15px;
					font-family: Lucida Console;
					color: @text;
					opacity: .25;
				}
			}
		}
	}

	.toolbar-canvas_ {
		background: @bg;
		position: relative;
		top: -4px;
		width: 100%;
		height: 100%;
		border-radius: 4px;
		box-shadow: inset 0 2px 5px darken(@bg, 7%);

		&.tool-disabled_ {
			background: #aaa;
			box-shadow: inset 0 2px 5px #ccc;
			filter: grayscale(100%);

			.toolbar-field_ {
				span {
					&.min:before,
					&.sec:before,
					&.bar:before,
					&.beat:before,
					&.th16:before {
						color: #ccc;
					}
				}
			}

		}
	}
}

.tools-right {
	width: calc(40% - 70px);

	&:last-child {
		text-align: left;
	}

	.toolbar-options_ {
		.toolbar-tool_ {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

.tools-gear {
	width: 10%;
}
