
@bg: #182c40;
@text: #b7cbe0;

.tools-left {
	width: calc(50% - 140px);
	text-align: right;

	> div:last-child {
		margin-right: 0;
	}
}

.display {
	width: 210px;
	height: 31px;
	padding-left: 17px;
	padding-right: 17px;

	&.tool-disabled_ {
		.toolbar-field_ span,
		.toolbar-canvas_ { display: none; }
	}

	&:not(.tool-disabled_) {
		&:after {
			background: radial-gradient(ellipse at bottom center, rgba(230,230,255,.25), transparent 80%),
						linear-gradient(180deg, #5075aa 0%, #1e4d91 43%, #0f3479 43%, #0e357c 100%);
			box-shadow: 0 0 0 1px #0f006cb5;
		}

		.toolbar-field_ {
			color: #f0f0ff;
		}
	}

	&.show-time .toolbar-field_ span {
		&.hr,
		&.min,
		&.sec { display: block; }

		&.bar,
		&.beat,
		&.th16 { display: none; }
	}

	.toolbar-field_ {
		position: absolute;
		top: -3px;
		left: 17px;
		right: 17px;
		bottom: 0;
		height: auto;
		width: auto;
		z-index: 3;
		font-size: 9px;
		text-transform: uppercase;
		color: lighten(@bg, 37%);
		line-height: 1;
		background: transparent;
		box-shadow: 0 0 0;
		border: 0;

		span {
			position: absolute;
			top: 20px;
			color: fadeout(@text, 47%);

			&.bar:before,
			&.beat:before,
			&.th16:before {
				content: ".";
				position: absolute;
				top: -15px;
				left: -7px;
				font-size: 15px;
				font-family: Lucida Console;
				color: @text;
				opacity: .25;
			}

			&.bar {
				left: 15px;

				&:before {
					content: "0";
					font-size: 17px;
					top: -16px;
					left: -2px;
					opacity: .15;
				}
			}

			&.beat {
				left: 39px;

				&:before { left: -4px; }
			}

			&.th16 {
				left: 64px;
			}

			&.tempo {
				left: 130px;

				&:before {
					content: "";
					background: transparent;
					position: absolute;
					top: -20px;
					left: -2px;
					right: -2px;
					bottom: 0;
					cursor: ns-resize;
				}
			}

			&.hr {
				left: 35px;
				display: none;
			}

			&.min {
				left: 63px;
				display: none;

				&:before {
					content: ":";
					position: absolute;
					top: -17px;
					left: -11px;
					font-size: 15px;
					font-family: Lucida Console;
					color: @text;
					opacity: .25;
				}
			}

			&.sec {
				left: 94px;
				display: none;

				&:before {
					content: ".";
					position: absolute;
					top: -15px;
					left: -12px;
					font-size: 15px;
					font-family: Lucida Console;
					color: @text;
					opacity: .25;
				}
			}
		}
	}

	.toolbar-canvas_ {
		// background: @bg;
		position: relative;
		top: -4px;
		width: 100%;
		height: 100%;
		z-index: 4;
		border-radius: 4px;
	}
}

.tools-right {
	width: calc(40% - 70px);

	&:last-child {
		text-align: left;
	}

	.toolbar-options_ {
		.toolbar-tool_ {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

.toolbar-group_:last-child.empty {
	width: 10%;
}
